In [1]:
# 15m 收在下布林，且下影線大於實體Ｋ及上影線
# ! conda install -c conda-forge ta --yes

In [2]:
import websocket
import requests
import json
import pandas as pd
import ta
import matplotlib.pyplot as plt
import math
import pytz
import datetime as dt
import numpy as np
import time

In [3]:
timezone = 8
endpoint = 'wss://stream.binance.com:9443/ws'
symbol = 'ethusdt'
symbol_C = symbol.upper()
interval = '15m'

# start epoch till now
start_time = 1675989807000
end_time = round(time.time() * 1000)
# end_time = 1672556207000

# step between timestamps in milliseconds
step = 60000 * 3600 # 15min

In [4]:
def get_historical(symbol, interval, start_time, end_time, step):
    
    rawdf = pd.DataFrame()
    
    url = "https://api.binance.com/api/v3/klines"
    
    for timestamp in range(start_time, end_time, step):
        params = {"symbol": symbol_C,
                  "interval": interval,
                  "startTime": timestamp,
                  "endTime": timestamp + step}
        response = requests.get(url, params=params).json()
        out = pd.DataFrame(response, columns = ["Open time", "Open", "High", "Low", "Close",
                                               "Volume", "Close_Time", "Quote asset volume",
                                               "Number of trades", "Taker buy base asset volume",
                                               "Taker buy quote asset volume", "Ignore"])
        rawdf = pd.concat([rawdf, out], axis = 0)
    
    rawdf = rawdf[['Close_Time', 'Open', 'Close', "High", "Low", 'Volume']]
    convert_dict = {'Close_Time': float, 'Open': float, 'Close': float, "High": float, "Low": float, 'Volume': float}
    rawdf = rawdf.astype(convert_dict)

    rawdf['Close_Time'] = pd.to_datetime(rawdf['Close_Time'], unit = 'ms')
    rawdf['Close_Time'] = rawdf['Close_Time'] + pd.Timedelta(hours=timezone)
    rawdf['Close_Time'] = rawdf['Close_Time'].dt.strftime('%Y-%m-%d %H:%M:%S')
    
    rawdf = rawdf.reset_index(drop=True)
    
    return rawdf

In [5]:
rawdf = get_historical(symbol, interval, start_time, end_time, step)
print(rawdf)

              Close_Time     Open    Close     High      Low     Volume
0    2023-02-10 08:59:59  1552.01  1548.52  1552.01  1545.66  6673.8862
1    2023-02-10 09:14:59  1548.51  1552.63  1553.16  1545.47  6041.7708
2    2023-02-10 09:29:59  1552.63  1545.00  1552.63  1544.04  8270.4900
3    2023-02-10 09:44:59  1545.00  1548.18  1549.98  1544.64  3995.4669
4    2023-02-10 09:59:59  1548.19  1549.84  1550.27  1547.79  5160.2732
..                   ...      ...      ...      ...      ...        ...
816  2023-02-18 20:59:59  1694.95  1698.34  1699.49  1694.70  3690.0684
817  2023-02-18 21:14:59  1698.35  1696.45  1698.35  1695.22  3063.5568
818  2023-02-18 21:29:59  1696.45  1697.13  1699.43  1695.84  2222.4397
819  2023-02-18 21:44:59  1697.13  1696.24  1697.45  1695.21  1794.8177
820  2023-02-18 21:59:59  1696.24  1693.67  1696.39  1693.03  2288.7764

[821 rows x 6 columns]

In [54]:
df = rawdf.copy()

In [55]:
def indicators(df):
#     sma
    sma_int = 30
    df['sma'] = ta.trend.sma_indicator(df.Close, window=sma_int)
#     bband
    bb_int = 30
    bb_dev = 2
    bb = ta.volatility.BollingerBands(df['Close'], window=bb_int, window_dev=bb_dev)
    df['bb_u'] = bb.bollinger_hband()
    df['bb_m'] = bb.bollinger_mavg()
    df['bb_l'] = bb.bollinger_lband()
#     rsi
    rsi_int = 14
    df['rsi'] = ta.momentum.RSIIndicator(df['Close'], window = rsi_int).rsi()
    return df

In [56]:
indicators(df)

,Close_Time,Open,Close,High,Low,Volume,sma,bb_u,bb_m,bb_l,rsi
0,2023-02-10 08:59:59,1552.01,1548.52,1552.01,1545.66,6673.8862,NaN,NaN,NaN,NaN,NaN
1,2023-02-10 09:14:59,1548.51,1552.63,1553.16,1545.47,6041.7708,NaN,NaN,NaN,NaN,NaN
2,2023-02-10 09:29:59,1552.63,1545.00,1552.63,1544.04,8270.4900,NaN,NaN,NaN,NaN,NaN
3,2023-02-10 09:44:59,1545.00,1548.18,1549.98,1544.64,3995.4669,NaN,NaN,NaN,NaN,NaN
4,2023-02-10 09:59:59,1548.19,1549.84,1550.27,1547.79,5160.2732,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816,2023-02-18 20:59:59,1694.95,1698.34,1699.49,1694.70,3690.0684,1693.555333,1699.500054,1693.555333,1687.610613,60.083869
817,2023-02-18 21:14:59,1698.35,1696.45,1698.35,1695.22,3063.5568,1693.518333,1699.376074,1693.518333,1687.660593,55.541916
818,2023-02-18 21:29:59,1696.45,1697.13,1699.43,1695.84,2222.4397,1693.474667,1699.203105,1693.474667,1687.746228,56.807029
819,2023-02-18 21:44:59,1697.13,1696.24,1697.45,1695.21,1794.8177,1693.444667,1699.105031,1693.444667,1687.784302,54.616406
820,2023-02-18 21:59:59,1696.24,1693.67,1696.39,1693.03,2288.7764,1693.290667,1698.659217,1693.290667,1687.922116,48.768109

In [57]:
def conditions(df):

    # c1 下影線 大於 實體Ｋ & 下影線 大於 上影線
    # c2 收盤 小於 布林下

    for index, row in df.iterrows():
        # c1 red candle
        df['c1_1'] = (abs(df['Low'] - df['Close']) > abs(df['Open'] - df['Close'])) & (abs(df['Low'] - df['Close']) > abs(df['High'] - df['Open']))
        # c1 green candle
        df['c1_2'] = (abs(df['Low'] - df['Open']) > abs(df['Open'] - df['Close'])) & (abs(df['Low'] - df['Open']) > abs(df['High'] - df['Close']))
        # c2
        df['c2'] = df['Close'] < df['bb_l']

    # 條件達成
    df['signal'] = False
    df.loc[df.c1_1 & df.c1_2 & df.c2, 'signal'] = True


    # 下一根進場
    df['openbuy'] = False
    for i in range(len(df) - 1):
        if df.loc[i, 'signal'] == True:
            df.loc[i + 1, 'openbuy'] = True
    
    return df

In [58]:
conditions(df)

,Close_Time,Open,Close,High,Low,Volume,sma,bb_u,bb_m,bb_l,rsi,c1_1,c1_2,c2,signal,openbuy
0,2023-02-10 08:59:59,1552.01,1548.52,1552.01,1545.66,6673.8862,NaN,NaN,NaN,NaN,NaN,False,True,False,False,False
1,2023-02-10 09:14:59,1548.51,1552.63,1553.16,1545.47,6041.7708,NaN,NaN,NaN,NaN,NaN,True,False,False,False,False
2,2023-02-10 09:29:59,1552.63,1545.00,1552.63,1544.04,8270.4900,NaN,NaN,NaN,NaN,NaN,False,True,False,False,False
3,2023-02-10 09:44:59,1545.00,1548.18,1549.98,1544.64,3995.4669,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
4,2023-02-10 09:59:59,1548.19,1549.84,1550.27,1547.79,5160.2732,NaN,NaN,NaN,NaN,NaN,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
816,2023-02-18 20:59:59,1694.95,1698.34,1699.49,1694.70,3690.0684,1693.555333,1699.500054,1693.555333,1687.610613,60.083869,False,False,False,False,False
817,2023-02-18 21:14:59,1698.35,1696.45,1698.35,1695.22,3063.5568,1693.518333,1699.376074,1693.518333,1687.660593,55.541916,False,True,False,False,False
818,2023-02-18 21:29:59,1696.45,1697.13,1699.43,1695.84,2222.4397,1693.474667,1699.203105,1693.474667,1687.746228,56.807029,False,False,False,False,False
819,2023-02-18 21:44:59,1697.13,1696.24,1697.45,1695.21,1794.8177,1693.444667,1699.105031,1693.444667,1687.784302,54.616406,True,True,False,False,False
820,2023-02-18 21:59:59,1696.24,1693.67,1696.39,1693.03,2288.7764,1693.290667,1698.659217,1693.290667,1687.922116,48.768109,False,True,False,False,False

In [59]:
buydf = conditions(df)

# 進出場

in_position = False
stop_loss = np.nan

for index, row in buydf.iterrows():

    if index == 0:
        continue
        
        # set entry price (前一根Ｋ收盤價進場)
        # set stop loss (前一根Ｋ線低點停損)
        # 進場
    elif buydf.at[index, 'openbuy'] == True:
        close_val = buydf['Close']
        low_val = buydf['Low']
        buydf.at[index, 'entry_p'] = close_val.shift(1).at[index]
        buydf.at[index, 'stop_loss'] = low_val.shift(1).at[index]
        buydf.at[index, 'position'] = 'Buy'
        in_position = True
        stop_loss = low_val.shift(1).at[index]
    

    # 吃筍
    #-----------------------------重要-----------------------------
    # 若用 if 寫，則有可能入場馬上吃筍，若用 elif 則一個 iteration 只會執行一次
    elif in_position == True and buydf.at[index, 'Close'] < stop_loss:
        buydf.at[index, 'position'] = 'Stop'
        in_position = False
        stop_loss = np.nan

    # set take profit （高點碰到上布林，即刻出場）
    elif buydf.at[index, 'High'] >= buydf.at[index, 'bb_u'] and in_position == True:

        buydf.at[index, 'position'] = 'Sell'
        in_position = False
        stop_loss = np.nan


# 過濾有訊號或事件發生的Ｋ線
buydf = buydf[(buydf['openbuy'] == True) |
              (buydf['signal'] == True) | 
              (buydf['position'] == 'Buy') |
              (buydf['position'] == 'Sell') |
              (buydf['position'] == 'Stop')]


print(buydf)

              Close_Time     Open    Close     High      Low      Volume  \
60   2023-02-10 23:59:59  1525.90  1522.36  1525.90  1506.00  20219.5380
61   2023-02-11 00:14:59  1522.35  1526.56  1534.00  1520.61  11901.9825
64   2023-02-11 00:59:59  1519.19  1519.78  1523.85  1514.62   6598.5711
65   2023-02-11 01:14:59  1519.77  1521.01  1524.12  1519.18   4775.7314
83   2023-02-11 05:44:59  1520.12  1500.97  1521.51  1490.00  27091.7954
167  2023-02-12 02:44:59  1515.52  1513.20  1516.07  1505.00  13062.7308
168  2023-02-12 02:59:59  1513.20  1514.77  1516.46  1512.09   2547.0834
179  2023-02-12 05:44:59  1521.77  1525.95  1526.39  1521.09   2362.0129
240  2023-02-12 20:59:59  1527.23  1525.58  1529.46  1521.12   7862.0612
241  2023-02-12 21:14:59  1525.57  1527.39  1528.05  1524.03   3203.5533
243  2023-02-12 21:44:59  1524.48  1524.19  1525.67  1521.43   3221.2165
244  2023-02-12 21:59:59  1524.19  1526.26  1527.00  1524.18   1925.4713
250  2023-02-12 23:29:59  1535.46  1532.86  1541.00  1532.86   5883.4883
277  2023-02-13 06:14:59  1511.22  1502.65  1515.10  1493.08  25532.1498
278  2023-02-13 06:29:59  1502.65  1510.03  1512.15  1498.44  10647.5812
314  2023-02-13 15:29:59  1520.74  1523.90  1526.10  1520.43   7647.6641
323  2023-02-13 17:44:59  1479.84  1484.21  1485.46  1472.73  22713.1084
324  2023-02-13 17:59:59  1484.21  1482.36  1492.51  1481.72  16066.5376
326  2023-02-13 18:29:59  1481.50  1474.80  1482.76  1466.00  19707.5997
327  2023-02-13 18:44:59  1474.80  1480.80  1480.90  1474.36  12965.9788
360  2023-02-14 02:59:59  1484.71  1488.96  1493.91  1484.56   6447.1482
602  2023-02-16 15:29:59  1683.72  1680.51  1684.77  1675.04   9958.7929
603  2023-02-16 15:44:59  1680.52  1677.94  1681.71  1675.00   5596.7956
604  2023-02-16 15:59:59  1677.94  1681.89  1681.90  1677.42   7083.2417
627  2023-02-16 21:44:59  1687.50  1681.13  1695.68  1677.30  19156.5428
628  2023-02-16 21:59:59  1681.14  1675.49  1682.13  1668.02  15750.7008
629  2023-02-16 22:14:59  1675.49  1678.00  1682.50  1669.15  10186.4134
631  2023-02-16 22:44:59  1672.00  1673.77  1676.00  1665.24  11967.4478
632  2023-02-16 22:59:59  1673.76  1678.87  1681.37  1671.24   7469.8603
634  2023-02-16 23:29:59  1685.30  1686.64  1694.41  1683.14   9349.3560
796  2023-02-18 15:59:59  1693.31  1690.72  1693.43  1686.11   4274.9971
797  2023-02-18 16:14:59  1690.71  1688.94  1692.62  1687.77   3046.4875
818  2023-02-18 21:29:59  1696.45  1697.13  1699.43  1695.84   2222.4397

             sma         bb_u         bb_m         bb_l        rsi   c1_1  \
60   1541.486667  1554.399076  1541.486667  1528.574258  29.794314   True
61   1540.695667  1554.245641  1540.695667  1527.145692  36.082321  False
64   1537.650333  1554.180730  1537.650333  1521.119937  31.643295   True
65   1536.700333  1553.665313  1536.700333  1519.735353  33.612990  False
83   1527.183000  1545.350485  1527.183000  1509.015515  25.165991  False
167  1520.030667  1525.328925  1520.030667  1514.732408  37.628670   True
168  1519.946000  1525.490897  1519.946000  1514.401103  41.405157  False
179  1519.675667  1525.957763  1519.675667  1513.393570  63.012818   True
240  1533.181667  1537.877381  1533.181667  1528.485952  33.719168   True
241  1532.992000  1538.127846  1532.992000  1527.856154  38.799998   True
243  1532.373667  1539.061988  1532.373667  1525.685346  33.828347   True
244  1532.133667  1539.157161  1532.133667  1525.110172  39.594887  False
250  1532.002000  1539.629589  1532.002000  1524.374411  53.295290  False
277  1535.720000  1554.788827  1535.720000  1516.651173  13.638727   True
278  1534.966667  1556.134422  1534.966667  1513.798912  27.105278   True
314  1515.385333  1525.446902  1515.385333  1505.323765  62.251944  False
323  1513.621000  1534.295825  1513.621000  1492.946175  24.623093   True
324  1512.949667  1536.175846  1512.949667  1489.723487  23.782807  False
326  1510.769333  1539.834091  1510.769333  1481.704576  20.494983   True
327  1509.735667  1540.721093  1509.735667  1478.750240  28.957875   True
360  1481.787667  1493.556087  1481.787667  1470.019246  56.731492  False
602  1691.404000  1699.459088  1691.404000  1683.348912  44.001791   True
603  1691.017667  1700.397952  1691.017667  1681.637381  41.408208   True
604  1690.526000  1700.217059  1690.526000  1680.834941  46.616393   True
627  1685.172667  1693.439606  1685.172667  1676.905727  44.633963  False
628  1684.487000  1692.434184  1684.487000  1676.539816  38.561773   True
629  1683.953000  1691.403561  1683.953000  1676.502439  42.322450   True
631  1683.188333  1692.456582  1683.188333  1673.920085  39.191027   True
632  1683.133667  1692.483448  1683.133667  1673.783885  46.121419   True
634  1683.537667  1692.769868  1683.537667  1674.305466  54.703147  False
796  1697.195667  1702.429036  1697.195667  1691.962298  38.259398   True
797  1697.050333  1702.912725  1697.050333  1691.187941  35.567713  False
818  1693.474667  1699.203105  1693.474667  1687.746228  56.807029  False

      c1_2     c2  signal  openbuy  entry_p  stop_loss position
60    True   True    True    False      NaN        NaN      NaN
61   False   True   False     True  1522.36    1506.00      Buy
64    True   True    True    False      NaN        NaN      NaN
65   False  False   False     True  1519.78    1514.62      Buy
83    True   True   False    False      NaN        NaN     Stop
167   True   True    True    False      NaN        NaN      NaN
168  False  False   False     True  1513.20    1505.00      Buy
179  False  False   False    False      NaN        NaN     Sell
240   True   True    True    False      NaN        NaN      NaN
241  False   True   False     True  1525.58    1521.12      Buy
243   True   True    True    False      NaN        NaN      NaN
244  False  False   False     True  1524.19    1521.43      Buy
250  False  False   False    False      NaN        NaN     Sell
277   True   True    True    False      NaN        NaN      NaN
278  False   True   False     True  1502.65    1493.08      Buy
314  False  False   False    False      NaN        NaN     Sell
323   True   True    True    False      NaN        NaN      NaN
324  False   True   False     True  1484.21    1472.73      Buy
326   True   True    True    False      NaN        NaN      NaN
327  False  False   False     True  1474.80    1466.00      Buy
360  False  False   False    False      NaN        NaN     Sell
602   True   True    True    False      NaN        NaN      NaN
603   True   True    True     True  1680.51    1675.04      Buy
604  False  False   False     True  1677.94    1675.00      Buy
627  False  False   False    False      NaN        NaN     Sell
628   True   True    True    False      NaN        NaN      NaN
629   True  False   False     True  1675.49    1668.02      Buy
631   True   True    True    False      NaN        NaN      NaN
632  False  False   False     True  1673.77    1665.24      Buy
634  False  False   False    False      NaN        NaN     Sell
796   True   True    True    False      NaN        NaN      NaN
797  False   True   False     True  1690.72    1686.11      Buy
818  False  False   False    False      NaN        NaN     Sell

In [60]:
# 部位回測

posdf = buydf.copy()
posdf = posdf.reset_index(drop = True)
posdf = posdf[(posdf['position'] == 'Buy') |
              (posdf['position'] == 'Sell') |
              (posdf['position'] == 'Stop')]

# 一次進場多少單位
pos_size = 1

col = ['Close_Time', 'Open', 'Close', 'High', 'Low', 'sma', 'bb_u', 'bb_l', 'rsi', 'position','entry_p', 'stop_loss']
pos = posdf[col]
pos = pos.reset_index(drop = True)


for index, row in pos.iterrows():
    
    current_pos = 0
    
    # 進場
    if pos.at[index, 'position'] == 'Buy':
        pos.at[index, 'size'] = pos_size
        pos.exit_p = np.nan
    
    # 出場
    if pos.at[index, 'position'] == 'Sell' or pos.at[index, 'position'] == 'Stop':
        
        #-----------------------------重要-----------------------------
        # 實戰需即刻出場
        
        # 停利：打到上布林
        if pos.at[index, 'position'] == 'Sell':
            pos.at[index, 'exit_p'] = pos.at[index, 'bb_u'] * 1

        # 停損：打到進場停損點（往回跌代，直到最近的'Buy'及其'stop_loss'）
        if pos.at[index, 'position'] == 'Stop':
            for i in range(index -1, -1, -1):
                if pos.at[i, 'position'] == 'Buy':
                    pos.at[index, 'exit_p'] = pos.at[i, 'stop_loss']
                break

        # 計算每次出場部位大小（每次出場皆清倉）
        for i in range(index -1, -1, -1):
            if pos.at[i, 'position'] == 'Buy':
                current_pos += pos.at[i, 'size']
                if i == 0:
                    pos.at[index, 'size'] = -current_pos
                else:
                    continue
            else:
                pos.at[index, 'size'] = -current_pos
                current_pos = 0
                break


# 計算部位價值
for index, row in pos.iterrows():
    if pos.at[index, 'position'] == 'Buy':
        pos.at[index, 'amt'] = round(pos.at[index, 'size'] * pos.at[index, 'entry_p'], 4)
    elif pos.at[index, 'position'] == 'Sell' or pos.at[index, 'position'] == 'Stop':
        pos.at[index, 'amt'] = round(pos.at[index, 'size'] * pos.at[index, 'exit_p'], 4)


# 若最後一筆為 Buy，移除該單，迭代驗證
for index, row in pos.iloc[::-1].iterrows():
    if row['position'] == 'Buy':
        pos = pos.drop(index)
    else:
        break
        
print(pos)
pos.to_csv('pos.csv')


# 手續費、滑點、價差
fee = 0.075 / 100
amt_abs_sum = pos.amt.abs().sum()
ttl_fee = amt_abs_sum * fee

# 損益
leverage = 10
ttl_profit = -pos.amt.sum() - ttl_fee


# 計算進場最大部位來代表總進場成本，以計算報酬率
pos['consec_entry'] = (pos['position'] != pos['position'].shift()).cumsum()
group_consec = pos.groupby('consec_entry').apply(lambda x:x.loc[x['position'] == 'Buy', 'amt' ].sum())
max_entry = group_consec.max()

profit_per = "{:.2f}%".format(ttl_profit / (max_entry/leverage) * 100)


result = {'Profit': [round(ttl_profit, 2)],
          'Fee': [round(ttl_fee, 2)],
          'Max_Entry': [round(max_entry, 2)],
          'Profit_%': [profit_per]}

result_df = pd.DataFrame(result)

print(result_df)

             Close_Time     Open    Close     High      Low          sma  \
0   2023-02-11 00:14:59  1522.35  1526.56  1534.00  1520.61  1540.695667
1   2023-02-11 01:14:59  1519.77  1521.01  1524.12  1519.18  1536.700333
2   2023-02-11 05:44:59  1520.12  1500.97  1521.51  1490.00  1527.183000
3   2023-02-12 02:59:59  1513.20  1514.77  1516.46  1512.09  1519.946000
4   2023-02-12 05:44:59  1521.77  1525.95  1526.39  1521.09  1519.675667
5   2023-02-12 21:14:59  1525.57  1527.39  1528.05  1524.03  1532.992000
6   2023-02-12 21:59:59  1524.19  1526.26  1527.00  1524.18  1532.133667
7   2023-02-12 23:29:59  1535.46  1532.86  1541.00  1532.86  1532.002000
8   2023-02-13 06:29:59  1502.65  1510.03  1512.15  1498.44  1534.966667
9   2023-02-13 15:29:59  1520.74  1523.90  1526.10  1520.43  1515.385333
10  2023-02-13 17:59:59  1484.21  1482.36  1492.51  1481.72  1512.949667
11  2023-02-13 18:44:59  1474.80  1480.80  1480.90  1474.36  1509.735667
12  2023-02-14 02:59:59  1484.71  1488.96  1493.91  1484.56  1481.787667
13  2023-02-16 15:44:59  1680.52  1677.94  1681.71  1675.00  1691.017667
14  2023-02-16 15:59:59  1677.94  1681.89  1681.90  1677.42  1690.526000
15  2023-02-16 21:44:59  1687.50  1681.13  1695.68  1677.30  1685.172667
16  2023-02-16 22:14:59  1675.49  1678.00  1682.50  1669.15  1683.953000
17  2023-02-16 22:59:59  1673.76  1678.87  1681.37  1671.24  1683.133667
18  2023-02-16 23:29:59  1685.30  1686.64  1694.41  1683.14  1683.537667
19  2023-02-18 16:14:59  1690.71  1688.94  1692.62  1687.77  1697.050333
20  2023-02-18 21:29:59  1696.45  1697.13  1699.43  1695.84  1693.474667

           bb_u         bb_l        rsi position  entry_p  stop_loss  size  \
0   1554.245641  1527.145692  36.082321      Buy  1522.36    1506.00   1.0
1   1553.665313  1519.735353  33.612990      Buy  1519.78    1514.62   1.0
2   1545.350485  1509.015515  25.165991     Stop      NaN        NaN  -2.0
3   1525.490897  1514.401103  41.405157      Buy  1513.20    1505.00   1.0
4   1525.957763  1513.393570  63.012818     Sell      NaN        NaN  -1.0
5   1538.127846  1527.856154  38.799998      Buy  1525.58    1521.12   1.0
6   1539.157161  1525.110172  39.594887      Buy  1524.19    1521.43   1.0
7   1539.629589  1524.374411  53.295290     Sell      NaN        NaN  -2.0
8   1556.134422  1513.798912  27.105278      Buy  1502.65    1493.08   1.0
9   1525.446902  1505.323765  62.251944     Sell      NaN        NaN  -1.0
10  1536.175846  1489.723487  23.782807      Buy  1484.21    1472.73   1.0
11  1540.721093  1478.750240  28.957875      Buy  1474.80    1466.00   1.0
12  1493.556087  1470.019246  56.731492     Sell      NaN        NaN  -2.0
13  1700.397952  1681.637381  41.408208      Buy  1680.51    1675.04   1.0
14  1700.217059  1680.834941  46.616393      Buy  1677.94    1675.00   1.0
15  1693.439606  1676.905727  44.633963     Sell      NaN        NaN  -2.0
16  1691.403561  1676.502439  42.322450      Buy  1675.49    1668.02   1.0
17  1692.483448  1673.783885  46.121419      Buy  1673.77    1665.24   1.0
18  1692.769868  1674.305466  54.703147     Sell      NaN        NaN  -2.0
19  1702.912725  1691.187941  35.567713      Buy  1690.72    1686.11   1.0
20  1699.203105  1687.746228  56.807029     Sell      NaN        NaN  -1.0

         exit_p        amt
0           NaN  1522.3600
1           NaN  1519.7800
2   1514.620000 -3029.2400
3           NaN  1513.2000
4   1525.957763 -1525.9578
5           NaN  1525.5800
6           NaN  1524.1900
7   1539.629589 -3079.2592
8           NaN  1502.6500
9   1525.446902 -1525.4469
10          NaN  1484.2100
11          NaN  1474.8000
12  1493.556087 -2987.1122
13          NaN  1680.5100
14          NaN  1677.9400
15  1693.439606 -3386.8792
16          NaN  1675.4900
17          NaN  1673.7700
18  1692.769868 -3385.5397
19          NaN  1690.7200
20  1699.203105 -1699.2031
   Profit    Fee  Max_Entry Profit_%
0  122.63  30.81    3358.45   36.51%

In [53]:
plt.title(symbol + ' SMA_' + str(rate))
plt.xlabel('time')
plt.ylabel('Closing Prices')
plt.plot(df.Close, label='Closing Prices')
plt.plot(df.sma, label= str(rate) + ' SMA')
plt.plot(df.bb_u, label='Bollinger Up', c='g')
plt.plot(df.bb_l, label='Bollinger Down', c='r')
plt.legend()
plt.show()

NameError: name 'rate' is not defined