In [1]:
# start time - 1609459200000, 1641028611000, 1672564611000, 1654045261000, 1651366861000 (2021, 2022, 2023)

In [2]:
# ! conda install -c conda-forge ta --yes

In [3]:
import requests
import pandas as pd
import ta
import datetime as dt
import numpy as np
import time
import itertools
import os

In [4]:
from binance.client import Client
from dotenv import load_dotenv

# Get the path to the current directory
current_directory = os.getcwd()

# Specify the path to the .env file relative to the current directory
dotenv_path = os.path.join(current_directory, '.env')

# Load the environment variables from the .env file
load_dotenv(dotenv_path)

api_key = os.getenv('API_KEY')
api_secret = os.getenv('SECRET_KEY')

client = Client(api_key, api_secret, testnet = False)

In [5]:
interval_arr = ['15m', '1h']
ema_arr = [8, 18, 38]

ep_per_arr = [1.005, 0.999, 0.995, 0.990]

sl_per_arr = [0.999, 1.003, 1.007, 1.011]

# stop loss determine candlestick
sl_det_arr = ['Close', 'High']

In [6]:
timezone = 8
# symbol = 'ethusdt'
symbol_arr = ['ethusdt', 'crvusdt', 'injusdt', 'imxusdt', 'roseusdt', 'linausdt', 'ftmusdt', 'adausdt', 'avaxusdt']

start_time = 1635743450000
end_time = round(time.time() * 1000)

def set_time():
    global start_time, end_time
    start_time = 1635743450000
    end_time = round(time.time() * 1000)

# step between timestamps in milliseconds
step = 1000

In [7]:
dataframes = {}
def create_raw(symbol_arr, interval_arr, step):
    global start_time, end_time
    
    for interval in interval_arr:
        for symbol in symbol_arr:
            set_time()
            # Fetch the data using batch requests
            data = []
            while start_time < end_time:
                limit = min(step, end_time - start_time + 1)  # Adjust the limit for the last batch
                response = client.get_klines(symbol=symbol.upper(), interval=interval, limit=limit, startTime=start_time)

                if len(response) == 0:
                    break  # No more data available, exit the loop
                data.extend(response)
                start_time = response[-1][0] + 1

            # Convert the data to a DataFrame
            columns = [
                "Open_Time", "Open", "High", "Low", "Close", "Volume", "Close_Time",
                "Quote asset volume", "Number of trades", "Taker buy base asset volume",
                "Taker buy quote asset volume", "Ignore"
            ]
            raw_df = pd.DataFrame(data, columns=columns)   

            raw_df = raw_df[['Open_Time', 'Open', 'Close', "High", "Low", 'Volume']]

            dataframes[f'df_{interval}_{symbol}'] = raw_df

In [8]:
loop_start_time = time.time()
create_raw(symbol_arr, interval_arr, step)
loop_end_time = time.time()
print("Time taken to execute for loop:", loop_end_time - loop_start_time, "seconds")
print(dataframes)

Time taken to execute for loop: 57.115670919418335 seconds
{'df_15m_ethusdt':            Open_Time           Open          Close           High  \
0      1635743700000  4233.64000000  4238.15000000  4246.31000000
1      1635744600000  4238.16000000  4251.22000000  4251.54000000
2      1635745500000  4251.23000000  4225.00000000  4252.58000000
3      1635746400000  4225.00000000  4209.00000000  4225.99000000
4      1635747300000  4208.99000000  4232.36000000  4234.21000000
...              ...            ...            ...            ...
56157  1686289500000  1837.67000000  1839.45000000  1839.73000000
56158  1686290400000  1839.45000000  1837.60000000  1839.45000000
56159  1686291300000  1837.59000000  1840.61000000  1842.00000000
56160  1686292200000  1840.61000000  1840.67000000  1840.67000000
56161  1686293100000  1840.67000000  1839.50000000  1840.69000000

                 Low         Volume
0      4231.60000000  2158.18360000
1      4238.14000000  3168.48900000
2      4220.00000000  4596.06050000
3      4203.16000000  4048.43100000
4      4198.55000000  3627.54850000
...              ...            ...
56157  1837.67000000  1144.86610000
56158  1837.45000000  1143.29300000
56159  1837.59000000  1663.68360000
56160  1839.59000000  1120.47550000
56161  1839.49000000   293.84300000

[56162 rows x 6 columns], 'df_15m_crvusdt':            Open_Time        Open       Close        High         Low  \
0      1635743700000  4.32400000  4.33700000  4.35300000  4.31300000
1      1635744600000  4.33600000  4.34700000  4.34800000  4.31700000
2      1635745500000  4.34800000  4.30100000  4.34800000  4.29600000
3      1635746400000  4.30100000  4.28100000  4.31100000  4.27600000
4      1635747300000  4.28200000  4.31200000  4.31700000  4.27000000
...              ...         ...         ...         ...         ...
56157  1686289500000  0.75800000  0.75900000  0.75900000  0.75800000
56158  1686290400000  0.75900000  0.75700000  0.75900000  0.75700000
56159  1686291300000  0.75800000  0.75900000  0.76000000  0.75800000
56160  1686292200000  0.76000000  0.76000000  0.76100000  0.75900000
56161  1686293100000  0.76100000  0.75900000  0.76100000  0.75900000

               Volume
0      90406.20000000
1      52232.30000000
2      95230.50000000
3      75623.10000000
4      55221.50000000
...               ...
56157  28983.00000000
56158  22292.50000000
56159  29610.70000000
56160  13919.70000000
56161  14923.40000000

[56162 rows x 6 columns], 'df_15m_injusdt':            Open_Time         Open        Close         High          Low  \
0      1635743700000  10.71500000  10.72500000  10.74900000  10.70400000
1      1635744600000  10.73100000  10.73200000  10.75300000  10.73100000
2      1635745500000  10.73200000  10.73000000  10.75000000  10.71800000
3      1635746400000  10.71800000  10.69600000  10.72700000  10.68800000
4      1635747300000  10.68900000  10.71000000  10.71100000  10.67000000
...              ...          ...          ...          ...          ...
56157  1686289500000   6.93800000   6.94200000   6.95500000   6.93400000
56158  1686290400000   6.94000000   6.93600000   6.94000000   6.91800000
56159  1686291300000   6.93500000   6.97300000   6.97600000   6.93500000
56160  1686292200000   6.97500000   6.98700000   6.98800000   6.96400000
56161  1686293100000   6.98600000   6.97700000   6.98600000   6.97700000

              Volume
0      2062.90000000
1       578.50000000
2       430.20000000
3      1293.20000000
4      2339.10000000
...              ...
56157  4866.40000000
56158  5277.00000000
56159  6631.60000000
56160  4521.40000000
56161   641.90000000

[56162 rows x 6 columns], 'df_15m_imxusdt':            Open_Time        Open       Close        High         Low  \
0      1641808800000  3.75100000  3.99800000  4.30000000  3.75100000
1      1641809700000  3.99800000  3.91400000  4.01300000  3.89400000
2      1641810600000  3.91300000  3.90400000  3.94800000  3.90300000
3      1641811500000  3.90300000  3.84500000  3.90300000  3.82100000
4      1641812400000  3.84500000  3.83000000  3.85000000  3.78000000
...              ...         ...         ...         ...         ...
49418  1686289500000  0.72500000  0.72600000  0.72600000  0.72500000
49419  1686290400000  0.72500000  0.72200000  0.72700000  0.72200000
49420  1686291300000  0.72200000  0.72500000  0.72500000  0.72100000
49421  1686292200000  0.72500000  0.72200000  0.72500000  0.72200000
49422  1686293100000  0.72200000  0.72100000  0.72200000  0.72000000

                Volume
0      741072.92000000
1      133404.99000000
2       77909.55000000
3       68470.02000000
4       50546.12000000
...                ...
49418    9588.28000000
49419   33322.30000000
49420   46753.91000000
49421   14867.29000000
49422    5869.61000000

[49423 rows x 6 columns], 'df_15m_roseusdt':            Open_Time        Open       Close        High         Low  \
0      1635743700000  0.17979000  0.17972000  0.18026000  0.17947000
1      1635744600000  0.17972000  0.18015000  0.18043000  0.17937000
2      1635745500000  0.18015000  0.18050000  0.18055000  0.18011000
3      1635746400000  0.18050000  0.18024000  0.18072000  0.18006000
4      1635747300000  0.18024000  0.18050000  0.18051000  0.17987000
...              ...         ...         ...         ...         ...
56157  1686289500000  0.05034000  0.05048000  0.05054000  0.05034000
56158  1686290400000  0.05050000  0.05024000  0.05050000  0.05024000
56159  1686291300000  0.05023000  0.05024000  0.05031000  0.05016000
56160  1686292200000  0.05023000  0.05015000  0.05023000  0.05009000
56161  1686293100000  0.05013000  0.04999000  0.05013000  0.04998000

                Volume
0      207846.10000000
1      289842.10000000
2      130641.70000000
3      272285.10000000
4      114985.30000000
...                ...
56157  297771.80000000
56158  389506.30000000
56159  608678.40000000
56160  209402.30000000
56161  754178.10000000

[56162 rows x 6 columns], 'df_15m_linausdt':            Open_Time        Open       Close        High         Low  \
0      1635743700000  0.05050000  0.05067000  0.05075000  0.05046000
1      1635744600000  0.05066000  0.05093000  0.05096000  0.05066000
2      1635745500000  0.05088000  0.05059000  0.05088000  0.05041000
3      1635746400000  0.05050000  0.05018000  0.05058000  0.05006000
4      1635747300000  0.05010000  0.05089000  0.05089000  0.05009000
...              ...         ...         ...         ...         ...
56157  1686289500000  0.01268400  0.01266300  0.01269400  0.01257400
56158  1686290400000  0.01266400  0.01271200  0.01271700  0.01264600
56159  1686291300000  0.01271200  0.01265700  0.01271800  0.01257000
56160  1686292200000  0.01265700  0.01262100  0.01280000  0.01254000
56161  1686293100000  0.01262500  0.01257800  0.01262500  0.01255000

                   Volume
0        1861987.37000000
1        1077112.73000000
2        2353460.94000000
3        2741616.97000000
4        1500675.28000000
...                   ...
56157   35666279.68000000
56158   32247771.85000000
56159  100900845.67000000
56160   55882047.15000000
56161    3973105.74000000

[56162 rows x 6 columns], 'df_15m_ftmusdt':            Open_Time        Open       Close        High         Low  \
0      1635743700000  2.80660000  2.81030000  2.82800000  2.79350000
1      1635744600000  2.81030000  2.84060000  2.84170000  2.80930000
2      1635745500000  2.84000000  2.81850000  2.84160000  2.79640000
3      1635746400000  2.81940000  2.85040000  2.86410000  2.79190000
4      1635747300000  2.85020000  2.83760000  2.87860000  2.83540000
...              ...         ...         ...         ...         ...
56157  1686289500000  0.29360000  0.29380000  0.29390000  0.29360000
56158  1686290400000  0.29370000  0.29310000  0.29370000  0.29290000
56159  1686291300000  0.29310000  0.29400000  0.29430000  0.29310000
56160  1686292200000  0.29400000  0.29420000  0.29430000  0.29360000
56161  1686293100000  0.29430000  0.29400000  0.29450000  0.29390000

                 Volume
0       475604.00000000
1       513778.00000000
2       862102.00000000
3      2301052.00000000
4      1491201.00000000
...                 ...
56157   230328.00000000
56158   271534.00000000
56159   259062.00000000
56160   343199.00000000
56161    79323.00000000

[56162 rows x 6 columns], 'df_15m_adausdt':            Open_Time        Open       Close        High         Low  \
0      1635743700000  1.93700000  1.93800000  1.94100000  1.93600000
1      1635744600000  1.93800000  1.94100000  1.94300000  1.93800000
2      1635745500000  1.94100000  1.93500000  1.94200000  1.93300000
3      1635746400000  1.93500000  1.93000000  1.93600000  1.92800000
4      1635747300000  1.92900000  1.93800000  1.93800000  1.92600000
...              ...         ...         ...         ...         ...
56157  1686289500000  0.31770000  0.31830000  0.31840000  0.31770000
56158  1686290400000  0.31840000  0.31590000  0.31840000  0.31520000
56159  1686291300000  0.31600000  0.31760000  0.31770000  0.31570000
56160  1686292200000  0.31760000  0.31790000  0.31800000  0.31740000
56161  1686293100000  0.31790000  0.31720000  0.31790000  0.31710000

                 Volume
0       847414.70000000
1       692352.70000000
2      1062726.30000000
3       943170.20000000
4       865229.10000000
...                 ...
56157   693004.00000000
56158  4399854.00000000
56159  1814818.80000000
56160   611205.10000000
56161   186332.50000000

[56162 rows x 6 columns], 'df_15m_avaxusdt':            Open_Time         Open        Close         High          Low  \
0      1635743700000  63.37000000  63.39000000  63.61000000  63.14000000
1      1635744600000  63.39000000  63.68000000  63.68000000  63.37000000
2      1635745500000  63.67000000  63.61000000  63.69000000  63.28000000
3      1635746400000  63.61000000  63.09000000  63.61000000  63.00000000
4      1635747300000  63.06000000  63.43000000  63.44000000  62.93000000
...              ...          ...          ...          ...          ...
56157  1686289500000  13.82000000  13.84000000  13.84000000  13.81000000
56158  1686290400000  13.84000000  13.81000000  13.84000000  13.80000000
56159  1686291300000  13.82000000  13.87000000  13.87000000  13.81000000
56160  1686292200000  13.87000000  13.86000000  13.87000000  13.85000000
56161  1686293100000  13.86000000  13.84000000  13.86000000  13.83000000

               Volume
0      12225.98000000
1       7764.57000000
2       8890.04000000
3       9009.25000000
4       9159.55000000
...               ...
56157   3311.17000000
56158   6865.42000000
56159   2332.37000000
56160   4154.25000000
56161   1367.07000000

[56162 rows x 6 columns], 'df_1h_ethusdt':            Open_Time           Open          Close           High  \
0      1635746400000  4225.00000000  4241.99000000  4259.14000000
1      1635750000000  4241.99000000  4302.93000000  4320.00000000
2      1635753600000  4302.94000000  4311.11000000  4338.07000000
3      1635757200000  4311.11000000  4316.56000000  4344.41000000
4      1635760800000  4316.55000000  4328.94000000  4335.00000000
...              ...            ...            ...            ...
14035  1686276000000  1842.80000000  1835.75000000  1844.34000000
14036  1686279600000  1835.75000000  1838.23000000  1838.64000000
14037  1686283200000  1838.22000000  1838.07000000  1841.31000000
14038  1686286800000  1838.06000000  1839.45000000  1839.73000000
14039  1686290400000  1839.45000000  1839.50000000  1842.00000000

                 Low          Volume
0      4198.55000000  13908.93710000
1      4241.46000000  31363.21900000
2      4294.52000000  21038.55420000
3      4310.64000000  16175.35920000
4      4313.86000000  11207.71110000
...              ...             ...
14035  1827.00000000  26334.77110000
14036  1832.05000000   7337.86440000
14037  1836.44000000   4433.44450000
14038  1837.00000000   4413.06100000
14039  1837.45000000   4262.04210000

[14040 rows x 6 columns], 'df_1h_crvusdt':            Open_Time        Open       Close        High         Low  \
0      1635746400000  4.30100000  4.32600000  4.35300000  4.27000000
1      1635750000000  4.32700000  4.39400000  4.41700000  4.32700000
2      1635753600000  4.39500000  4.37600000  4.43600000  4.34700000
3      1635757200000  4.37600000  4.36600000  4.40500000  4.36200000
4      1635760800000  4.36500000  4.40400000  4.46100000  4.36500000
...              ...         ...         ...         ...         ...
14035  1686276000000  0.75900000  0.75500000  0.76000000  0.75100000
14036  1686279600000  0.75500000  0.75800000  0.75900000  0.75200000
14037  1686283200000  0.75900000  0.75800000  0.76000000  0.75600000
14038  1686286800000  0.75900000  0.75900000  0.76100000  0.75700000
14039  1686290400000  0.75900000  0.75900000  0.76100000  0.75700000

                Volume
0      303124.40000000
1      601910.40000000
2      380985.90000000
3      422365.00000000
4      651086.50000000
...                ...
14035  437625.10000000
14036  152087.00000000
14037  121798.90000000
14038  150753.00000000
14039   83429.40000000

[14040 rows x 6 columns], 'df_1h_injusdt':            Open_Time         Open        Close         High          Low  \
0      1635746400000  10.71800000  10.71400000  10.73400000  10.67000000
1      1635750000000  10.71500000  10.87600000  10.87600000  10.71500000
2      1635753600000  10.87600000  10.92200000  10.94000000  10.86400000
3      1635757200000  10.93100000  11.02400000  11.35000000  10.92600000
4      1635760800000  11.01000000  11.07900000  11.10700000  11.00100000
...              ...          ...          ...          ...          ...
14035  1686276000000   7.00800000   6.90200000   7.01100000   6.88900000
14036  1686279600000   6.89400000   6.91200000   6.96900000   6.86200000
14037  1686283200000   6.91400000   6.96000000   6.96800000   6.89800000
14038  1686286800000   6.96400000   6.94200000   6.98700000   6.93100000
14039  1686290400000   6.94000000   6.97700000   6.98800000   6.91800000

               Volume
0       7908.40000000
1      14399.30000000
2      14244.90000000
3      66909.20000000
4      12787.60000000
...               ...
14035  60735.30000000
14036  52055.20000000
14037  31191.90000000
14038  25913.40000000
14039  17071.90000000

[14040 rows x 6 columns], 'df_1h_imxusdt':            Open_Time        Open       Close        High         Low  \
0      1641808800000  3.75100000  3.84500000  4.30000000  3.75100000
1      1641812400000  3.84500000  3.73200000  3.88300000  3.71300000
2      1641816000000  3.72900000  3.61100000  3.79900000  3.58400000
3      1641819600000  3.61000000  3.57200000  3.64600000  3.55300000
4      1641823200000  3.57200000  3.57800000  3.66400000  3.41900000
...              ...         ...         ...         ...         ...
12351  1686276000000  0.72700000  0.72000000  0.73400000  0.71800000
12352  1686279600000  0.72000000  0.72500000  0.73000000  0.72000000
12353  1686283200000  0.72500000  0.72900000  0.73000000  0.72400000
12354  1686286800000  0.73000000  0.72600000  0.73100000  0.72400000
12355  1686290400000  0.72500000  0.72100000  0.72700000  0.72000000

                 Volume
0      1020857.48000000
1       223323.22000000
2       135615.70000000
3        96669.22000000
4       285832.48000000
...                 ...
12351   342104.38000000
12352   145565.92000000
12353   123732.88000000
12354    82118.27000000
12355   101623.52000000

[12356 rows x 6 columns], 'df_1h_roseusdt':            Open_Time        Open       Close        High         Low  \
0      1635746400000  0.18050000  0.18251000  0.18251000  0.17987000
1      1635750000000  0.18251000  0.18325000  0.18507000  0.18240000
2      1635753600000  0.18320000  0.18277000  0.18498000  0.18269000
3      1635757200000  0.18277000  0.18313000  0.18400000  0.18250000
4      1635760800000  0.18313000  0.18578000  0.18650000  0.18285000
...              ...         ...         ...         ...         ...
14035  1686276000000  0.05031000  0.05000000  0.05031000  0.04962000
14036  1686279600000  0.04996000  0.05019000  0.05027000  0.04994000
14037  1686283200000  0.05018000  0.05051000  0.05051000  0.05018000
14038  1686286800000  0.05052000  0.05048000  0.05064000  0.05029000
14039  1686290400000  0.05050000  0.04999000  0.05050000  0.04998000

                 Volume
0      1298209.80000000
1      3131338.70000000
2      1455666.70000000
3      2060363.60000000
4      2571658.60000000
...                 ...
14035  2190789.50000000
14036   941789.70000000
14037  1635747.70000000
14038  1452643.30000000
14039  1961765.10000000

[14040 rows x 6 columns], 'df_1h_linausdt':            Open_Time        Open       Close        High         Low  \
0      1635746400000  0.05050000  0.05082000  0.05129000  0.05006000
1      1635750000000  0.05086000  0.05220000  0.05254000  0.05086000
2      1635753600000  0.05218000  0.05191000  0.05269000  0.05171000
3      1635757200000  0.05195000  0.05319000  0.05391000  0.05180000
4      1635760800000  0.05317000  0.05206000  0.05329000  0.05142000
...              ...         ...         ...         ...         ...
14035  1686276000000  0.01253700  0.01237100  0.01253700  0.01230400
14036  1686279600000  0.01237500  0.01245900  0.01266900  0.01236300
14037  1686283200000  0.01245900  0.01262600  0.01274800  0.01242600
14038  1686286800000  0.01262000  0.01266300  0.01311100  0.01254300
14039  1686290400000  0.01266400  0.01258200  0.01280000  0.01254000

                   Volume
0        7372147.72000000
1       13751771.09000000
2       10534965.93000000
3       25149411.66000000
4       22133891.08000000
...                   ...
14035   67048251.44000000
14036   47899668.63000000
14037   91769413.92000000
14038  268109800.18000000
14039  193184000.11000000

[14040 rows x 6 columns], 'df_1h_ftmusdt':            Open_Time        Open       Close        High         Low  \
0      1635746400000  2.81940000  2.81500000  2.87860000  2.79190000
1      1635750000000  2.81620000  2.86700000  2.91000000  2.81490000
2      1635753600000  2.86640000  2.83380000  2.89540000  2.82900000
3      1635757200000  2.83350000  2.85750000  2.87000000  2.83010000
4      1635760800000  2.85750000  2.81500000  2.86100000  2.81500000
...              ...         ...         ...         ...         ...
14035  1686276000000  0.29450000  0.29150000  0.29490000  0.29020000
14036  1686279600000  0.29150000  0.29320000  0.29350000  0.29060000
14037  1686283200000  0.29330000  0.29320000  0.29440000  0.29250000
14038  1686286800000  0.29330000  0.29380000  0.29440000  0.29290000
14039  1686290400000  0.29370000  0.29400000  0.29450000  0.29290000

                 Volume
0      5023525.00000000
1      4723813.00000000
2      3347471.00000000
3      3021817.00000000
4      3293481.00000000
...                 ...
14035  4471543.00000000
14036  1777155.00000000
14037  1080438.00000000
14038  1491837.00000000
14039   957076.00000000

[14040 rows x 6 columns], 'df_1h_adausdt':            Open_Time        Open       Close        High         Low  \
0      1635746400000  1.93500000  1.94300000  1.94700000  1.92600000
1      1635750000000  1.94200000  1.97800000  1.97800000  1.94000000
2      1635753600000  1.97800000  1.97500000  1.98900000  1.97300000
3      1635757200000  1.97600000  1.99000000  2.01900000  1.97500000
4      1635760800000  1.98900000  1.98500000  1.99500000  1.97900000
...              ...         ...         ...         ...         ...
14035  1686276000000  0.32180000  0.31920000  0.32180000  0.31750000
14036  1686279600000  0.31920000  0.32050000  0.32090000  0.31790000
14037  1686283200000  0.32050000  0.31870000  0.32060000  0.31790000
14038  1686286800000  0.31880000  0.31830000  0.31990000  0.31730000
14039  1686290400000  0.31840000  0.31710000  0.31840000  0.31520000

                  Volume
0       3221200.90000000
1       9139462.20000000
2       9244535.90000000
3      14260170.80000000
4       6143576.40000000
...                  ...

In [9]:
def get_klines(symbol, interval):
    global dataframes
    df = dataframes[f'df_{interval}_{symbol}']
    df = df[['Open_Time', 'Open', 'Close', "High", "Low", 'Volume']].astype(float)
    df = df.set_index('Open_Time')

    df.index = pd.to_datetime(df.index, unit='ms') + pd.Timedelta(hours=timezone)
    df = df[~df.index.duplicated(keep='first')]

    return df

In [12]:
symbol_dfs = {}
def multi_timeframes(symbol):
    df = get_klines(symbol, interval_arr[0]).copy() # eth 1h
    df = df.astype(float).round(4)

    for interval in interval_arr:
        raw_df = get_klines(symbol, interval)
        # ema
        for ema in ema_arr:
            column_name = f'ema_{ema}_{interval}' # eth 1h 4th ema
            df[column_name] = ta.trend.EMAIndicator(raw_df.Close, window=ema, fillna=True).ema_indicator()

        # rsi
    #     rsi = ta.momentum.RSIIndicator(raw_df.Close, window = rsi_int)
    #     df[f'rsi_{interval}'] = rsi.rsi()

        # atr
    #         df['atr'] = ta.volatility.average_true_range(df.High, df.Low, df.Close)


    # reset index and set current index as a column
    df = df.reset_index()

    # set new index with integers
    df = df.set_index(pd.RangeIndex(len(df)))

    # time_format(timezone)
    df['Open_Time'] = df['Open_Time'].dt.strftime('%Y-%m-%d %H:%M:%S')

    # fill up higher time frame empty values with equal interval between each value
    df = df.replace('', np.nan)
    df['ema_8_1h'] = df['ema_8_1h'].interpolate()
    df['ema_18_1h'] = df['ema_18_1h'].interpolate()
    df['ema_38_1h'] = df['ema_38_1h'].interpolate()
    symbol_dfs[f'df_{symbol}'] = df
    return symbol_dfs[f'df_{symbol}']

In [13]:
multi_timeframes(symbol_arr[1])
print(symbol_dfs)

{'df_crvusdt':                  Open_Time   Open  Close   High    Low   Volume  ema_8_15m  \
0      2021-11-01 13:15:00  4.324  4.337  4.353  4.313  90406.2   4.337000
1      2021-11-01 13:30:00  4.336  4.347  4.348  4.317  52232.3   4.339222
2      2021-11-01 13:45:00  4.348  4.301  4.348  4.296  95230.5   4.330728
3      2021-11-01 14:00:00  4.301  4.281  4.311  4.276  75623.1   4.319678
4      2021-11-01 14:15:00  4.282  4.312  4.317  4.270  55221.5   4.317971
...                    ...    ...    ...    ...    ...      ...        ...
56157  2023-06-09 13:45:00  0.758  0.759  0.759  0.758  28983.0   0.758010
56158  2023-06-09 14:00:00  0.759  0.757  0.759  0.757  22292.5   0.757786
56159  2023-06-09 14:15:00  0.758  0.759  0.760  0.758  29610.7   0.758055
56160  2023-06-09 14:30:00  0.760  0.760  0.761  0.759  13919.7   0.758488
56161  2023-06-09 14:45:00  0.761  0.759  0.761  0.759  14923.4   0.758601

       ema_18_15m  ema_38_15m  ema_8_1h  ema_18_1h  ema_38_1h
0        4.337000    4.337000       NaN        NaN        NaN
1        4.338053    4.337513       NaN        NaN        NaN
2        4.334152    4.335640       NaN        NaN        NaN
3        4.328557    4.332838  4.326000   4.326000   4.326000
4        4.326814    4.331770  4.329778   4.327789   4.326872
...           ...         ...       ...        ...        ...
56157    0.757894    0.758657  0.758794   0.759537   0.762624
56158    0.757800    0.758572  0.758807   0.759522   0.762576
56159    0.757926    0.758594  0.758807   0.759522   0.762576
56160    0.758145    0.758666  0.758807   0.759522   0.762576
56161    0.758235    0.758683  0.758807   0.759522   0.762576

[56162 rows x 12 columns]}

In [14]:
# def check_cross(df, kd_dir):
#     up = df['slow_k'] > df['slow_d']
#     down = df['slow_k'] < df['slow_d']
#     if kd_dir == 'Up':
#         return up.diff() & up
#     if kd_dir == 'Any':
#         return up.diff()
#     if kd_dir == 'Down':
#         return down.diff() & down


def indicators(df):

# ema
#     for i in (200, 500, 1000):
#         df['ema_'+str(i)] = ta.trend.ema_indicator(df.Close, window=i)

# atr
#     df['atr'] = ta.volatility.average_true_range(df.High, df.Low, df.Close)
    
# rsi
#     rsi_int = 14
#     df['rsi'] = ta.momentum.RSIIndicator(df['Close'], window = rsi_int).rsi()

# bband
    bb_int = 30
    bb_dev = 2
    bb = ta.volatility.BollingerBands(df['Close'], window=bb_int, window_dev=bb_dev)
    df['bb_u'] = bb.bollinger_hband()
    df['bb_m'] = bb.bollinger_mavg()
    df['bb_l'] = bb.bollinger_lband()

# kd
#     df['slow_k']= ta.momentum.stoch(df['High'], df['Low'], df['Close'], 17, 5)
#     df['slow_d'] = ta.momentum.stoch_signal(df['High'], df['Low'], df['Close'], 17, 5)
    
# kd cross
#     df['kd_cross'] = check_cross(df, kd_dir)

In [15]:
def conditions(df, ep_per):
    df['c1'] = df['ema_8_15m'] <= df['ema_18_15m']
    df['c2'] = df['ema_18_15m'] <= df['ema_38_15m']
    df['c3'] = df['ema_8_1h'] <= df['ema_38_1h']
    
    # signal
    df['signal'] = df['c1'] & df['c2'] & df['c3']
    
    # open_entry
    df['open_entry'] = df['signal'] & (df['High'] >= df['ema_18_1h'] * ep_per)
    
    return df

In [16]:
def entries(df, ep_per, sl_per, sl_det):

    in_position = False
    stop_loss = np.nan
    take_profit = np.nan
    close_val = df['Close']
    open_val = df['Open']
    high_val = df['High']
    ema_18_val = df['ema_18_1h']
    vol_val = df['Volume']

    df['position'] = ''  # Create an empty column for position
    df['take_profit'] = np.nan

    for index, row in df.iterrows():

        if index == 0:
            continue

        elif row['open_entry']:
            df.at[index, 'entry_p'] = ema_18_val.at[index] * ep_per
            df.at[index, 'stop_loss'] = high_val.at[index] * sl_per
            df.at[index, 'take_profit'] = ema_18_val.at[index] * ep_per * 0.9
            df.at[index, 'position'] = 'Short'
            in_position = True
            stop_loss = df.at[index, 'stop_loss']
            take_profit = df.at[index, 'take_profit']

        elif in_position and row[sl_det] >= stop_loss:
            df.at[index, 'position'] = 'Stop'
            in_position = False
            stop_loss = np.nan
            take_profit = np.nan

        # set take profit
        elif in_position and row['Low'] <= row['bb_l']:
            df.at[index, 'position'] = 'Buy'
            in_position = False
            stop_loss = np.nan
            take_profit = np.nan

        elif in_position and (((vol_val.at[index] > vol_val.shift(1).at[index]) &
                              (open_val.shift(1).at[index] > close_val.shift(1).at[index]) &
                              (open_val.at[index] < close_val.at[index]) & 
                              (high_val.at[index] > open_val.shift(1).at[index])) or
                              (high_val.at[index] >= stop_loss)):
            df.at[index, 'position'] = 'Buy'
            in_position = False
            stop_loss = np.nan
            take_profit = np.nan  
            
    df = df[(df['open_entry']) | (df['position'] != '')]

In [17]:
# 部位回測
def backtest(df, symbol, sl_det):

    df = df.reset_index(drop = True)
    df = df[(df['position'] == 'Short') |
                  (df['position'] == 'Buy') |
                  (df['position'] == 'Stop')]

    # 一次進場多少單位
    pos_size = 200

    col = ['Open_Time', 'Open', 'Close', 'High', 'Low', 'position','entry_p', 'stop_loss', 'take_profit']
    pos = df[col]
    pos = pos.reset_index(drop = True)


    for index, row in pos.iterrows():

        current_pos = 0

        # 進場
        if pos.at[index, 'position'] == 'Short':
            pos.at[index, 'size'] = pos_size / pos.at[index, 'entry_p']
            pos.exit_p = np.nan

        # 出場
        if pos.at[index, 'position'] == 'Buy' or pos.at[index, 'position'] == 'Stop':

            # 停利：達成條件時收盤價
            if pos.at[index, 'position'] == 'Buy':
                pos.at[index, 'exit_p'] = pos.at[index, 'Close']
                
#                 for i in range(index -1, -1, -1):
#                     if pos.at[i, 'position'] == 'Buy':
#                         pos.at[index, 'exit_p'] = pos.at[i, 'take_profit']
#                     break

            # 停損：打到進場停損點（往回跌代，直到最近的'Buy'及其'stop_loss'）
            if (pos.at[index, 'position'] == 'Stop') & (sl_det == 'Close'):
                pos.at[index, 'exit_p'] = pos.at[index, 'Close']
                
            if (pos.at[index, 'position'] == 'Stop') & (sl_det == 'High'):
                for i in range(index -1, -1, -1):
                    if pos.at[i, 'position'] == 'Short':
                        pos.at[index, 'exit_p'] = pos.at[i, 'stop_loss']
                    break

            # 計算每次出場部位大小（每次出場皆清倉）
            for i in range(index -1, -1, -1):
                if pos.at[i, 'position'] == 'Short':
                    current_pos += pos.at[i, 'size']
                    if i == 0:
                        pos.at[index, 'size'] = -current_pos
                    else:
                        continue
                else:
                    pos.at[index, 'size'] = -current_pos
                    current_pos = 0
                    break


    # 計算部位價值
    for index, row in pos.iterrows():
        if pos.at[index, 'position'] == 'Short':
            pos.at[index, 'amt'] = round(pos.at[index, 'size'] * pos.at[index, 'entry_p'], 4)
        elif pos.at[index, 'position'] == 'Buy' or pos.at[index, 'position'] == 'Stop':
            pos.at[index, 'amt'] = round(pos.at[index, 'size'] * pos.at[index, 'exit_p'], 4)


    # 若最後一筆為 Buy，移除該單，迭代驗證
    for index, row in pos.iloc[::-1].iterrows():
        if row['position'] == 'Short':
            pos = pos.drop(index)
        else:
            break


    # 手續費、滑點、價差
    fee = 0.05 / 100
    amt_abs_sum = pos.amt.abs().sum()
    ttl_fee = amt_abs_sum * fee

    # 損益
    leverage = 10
    ttl_profit = pos.amt.sum() - ttl_fee

    
    # 計算獲利/虧損次數
    agg_amts = []

    for i in range(len(pos) - 1, -1, -1):

        if pos.loc[i, 'position'] in ['Stop', 'Buy']:

            # look out for the + sign
            total_amt = pos.loc[i, 'amt'] - np.absolute(pos.loc[i, 'amt']) * fee

            # iterate backwards from the current row until reaching another 'Stop' or 'Sell'
            # watch out for the + in total_amt += trading_fee
            j = i - 1
            while j >= 0 and pos.loc[j, 'position'] not in ['Stop', 'Buy']:
                total_amt += pos.loc[j, 'amt']
                trading_fee = np.absolute(pos.loc[j, 'amt']) * fee
                total_amt -= trading_fee
                j -= 1

            # add the aggregated amount to the list
            agg_amts.append(total_amt)

    agg_amts.reverse()

    
    # 計算進場最大部位，最大損益
    consec_entry = 0
    position_amt_sum = 0
    max_consec_entry = 0
    max_position = 0
    max_profit = 0
    max_loss = 0

    for index, row in pos.iterrows():

        if row['position'] == 'Short':

            consec_entry += 1
            position_amt_sum += row['amt']

        elif row['position'] in ['Buy', 'Stop']:

            if consec_entry > max_consec_entry:
                max_consec_entry = consec_entry
                max_position = position_amt_sum

            position_amt_sum += row['amt']

            if position_amt_sum > max_profit:
                max_profit = position_amt_sum

            if position_amt_sum < max_loss:
                max_loss = position_amt_sum

            consec_entry = 0
            position_amt_sum = 0

        else:
            pass


    # 最大部位
    profit_per = "{:.2f}%".format(ttl_profit / (max_position/leverage) * 100)


    # 勝率
    wins = 0
    loses = 0

    for trade in agg_amts:
        if trade > 0:
            wins += 1
        elif trade < 0:
            loses += 1

    win_rate = "{:.2f}%".format(wins / (wins + loses) * 100)

    cumulative_values = []
    cumulative_sum = 0

    for value in agg_amts:
        cumulative_sum += value
        cumulative_values.append(cumulative_sum)

    max_drawdown = min(cumulative_values)
    
    # 結果
    result = {'Profit': [round(ttl_profit, 2)],
              'Fee': [round(ttl_fee, 2)],
              'Max_Profit': [round(max_profit, 2)],
              'Max_Loss': [round(max_loss, 2)],
              'Max_Entry': [max_consec_entry],
              'Max_Position': [round(max_position, 2)],
              'Profit_%': [profit_per],
              'Win_Rate': [win_rate],
              'PF_Ratio': [round(ttl_profit/ttl_fee, 2)],
              'Max_Drawdown': [round(max_drawdown,2)]}


    result_df = pd.DataFrame(result)
    
#     pos.to_csv(f'{symbol}_{sl_det}.csv')

    return result_df, ttl_profit, win_rate, ttl_fee

In [18]:
# iterate using start_time, under same time interval, test different variables
def run_backtest():
    
    results_df = pd.DataFrame()
    
    symbol_list = []
    sl_per_list = []
    ep_per_list = []
    sl_det_list = []

    i = 0

    loop_start_time = time.time()
    
    parameters = [(symbol, sl_per, ep_per, sl_det) 
                  for symbol in symbol_arr
                  for sl_per in sl_per_arr
                  for ep_per in ep_per_arr
                  for sl_det in sl_det_arr]
    
    for symbol, sl_per, ep_per, sl_det in parameters:

        df = multi_timeframes(symbol)
        df = df.reset_index()
        indicators(df)
        conditions(df, ep_per)
        entries(df, ep_per, sl_per, sl_det)
        backtest_df, ttl_profit, win_rate, fee = backtest(df, symbol, sl_det)

        results_df = pd.concat([results_df, backtest_df], ignore_index = True)

        symbol_list.append(symbol)
        sl_per_list.append(sl_per)
        ep_per_list.append(ep_per)
        sl_det_list.append(sl_det)

        i += 1
        
        print(f" {i} - {symbol}, sl: {sl_per}, tp: {ep_per}, {sl_det}, {round(ttl_profit, 2)}, {round(fee, 2)}, {round(ttl_profit/fee, 2)}, {win_rate} ")

    loop_end_time = time.time()

    print("Time taken to execute for loop:", loop_end_time - loop_start_time, "seconds")

    results_df['symbol'] = symbol_list
    results_df['sl_per'] = sl_per_list
    results_df['ep_per'] = ep_per_list
    results_df['sl_det'] = sl_det_list

    results_df = results_df[['symbol',
                             'sl_per', 'ep_per', 'sl_det',
                             'Profit', 'Fee', 'Max_Profit', 'Max_Loss',
                             'Max_Entry', 'Max_Position', 'Profit_%', 'Win_Rate', 'PF_Ratio', 'Max_Drawdown'
                            ]]
    
    return results_df

In [19]:
results_df = run_backtest()
results_df = results_df.sort_values('Profit', ascending = False)
# print(results_df)

 1 - ethusdt, sl: 0.999, tp: 1.005, Close, 190.52, 16.1, 11.84, 68.85%
 2 - ethusdt, sl: 0.999, tp: 1.005, High, 193.45, 16.1, 12.02, 50.82%
 3 - ethusdt, sl: 0.999, tp: 0.999, Close, 947.25, 303.17, 3.12, 58.10%
 4 - ethusdt, sl: 0.999, tp: 0.999, High, 1023.68, 303.14, 3.38, 49.78%
 5 - ethusdt, sl: 0.999, tp: 0.995, Close, 78.57, 1124.4, 0.07, 50.00%
 6 - ethusdt, sl: 0.999, tp: 0.995, High, 992.07, 1123.94, 0.88, 46.95%
 7 - ethusdt, sl: 0.999, tp: 0.99, Close, -4225.14, 1911.56, -2.21, 42.04%
 8 - ethusdt, sl: 0.999, tp: 0.99, High, -1772.66, 1910.33, -0.93, 41.11%
 9 - ethusdt, sl: 1.003, tp: 1.005, Close, 188.5, 16.1, 11.71, 63.33%
 10 - ethusdt, sl: 1.003, tp: 1.005, High, 191.18, 16.1, 11.88, 63.33%
 11 - ethusdt, sl: 1.003, tp: 0.999, Close, 1005.74, 302.95, 3.32, 63.50%
 12 - ethusdt, sl: 1.003, tp: 0.999, High, 1039.39, 302.93, 3.43, 63.17%
 13 - ethusdt, sl: 1.003, tp: 0.995, Close, 283.47, 1124.3, 0.25, 54.93%
 14 - ethusdt, sl: 1.003, tp: 0.995, High, 580.86, 1124.15, 0.52, 54.63%
 15 - ethusdt, sl: 1.003, tp: 0.99, Close, -3885.2, 1911.39, -2.03, 46.72%
 16 - ethusdt, sl: 1.003, tp: 0.99, High, -3318.44, 1911.1, -1.74, 46.33%
 17 - ethusdt, sl: 1.007, tp: 1.005, Close, 188.66, 16.1, 11.72, 63.33%
 18 - ethusdt, sl: 1.007, tp: 1.005, High, 176.44, 16.1, 10.96, 63.33%
 19 - ethusdt, sl: 1.007, tp: 0.999, Close, 950.75, 302.97, 3.14, 64.48%
 20 - ethusdt, sl: 1.007, tp: 0.999, High, 937.35, 302.98, 3.09, 64.48%
 21 - ethusdt, sl: 1.007, tp: 0.995, Close, 142.92, 1124.37, 0.13, 56.61%
 22 - ethusdt, sl: 1.007, tp: 0.995, High, 136.98, 1124.37, 0.12, 56.51%
 23 - ethusdt, sl: 1.007, tp: 0.99, Close, -3629.11, 1911.26, -1.9, 48.25%
 24 - ethusdt, sl: 1.007, tp: 0.99, High, -3501.13, 1911.19, -1.83, 48.25%
 25 - ethusdt, sl: 1.011, tp: 1.005, Close, 194.87, 16.09, 12.11, 69.49%
 26 - ethusdt, sl: 1.011, tp: 1.005, High, 187.95, 16.1, 11.68, 69.49%
 27 - ethusdt, sl: 1.011, tp: 0.999, Close, 938.87, 302.98, 3.1, 65.48%
 28 - ethusdt, sl: 1.011, tp: 0.999, High, 944.52, 302.98, 3.12, 65.48%
 29 - ethusdt, sl: 1.011, tp: 0.995, Close, -92.48, 1124.48, -0.08, 57.31%
 30 - ethusdt, sl: 1.011, tp: 0.995, High, -58.3, 1124.47, -0.05, 57.31%
 31 - ethusdt, sl: 1.011, tp: 0.99, Close, -3967.58, 1911.43, -2.08, 48.99%
 32 - ethusdt, sl: 1.011, tp: 0.99, High, -3792.98, 1911.34, -1.98, 48.99%
 33 - crvusdt, sl: 0.999, tp: 1.005, Close, 337.67, 26.02, 12.98, 66.67%
 34 - crvusdt, sl: 0.999, tp: 1.005, High, 332.83, 26.02, 12.79, 45.56%
 35 - crvusdt, sl: 0.999, tp: 0.999, Close, 1040.6, 215.37, 4.83, 60.17%
 36 - crvusdt, sl: 0.999, tp: 0.999, High, 1168.21, 215.31, 5.43, 54.15%
 37 - crvusdt, sl: 0.999, tp: 0.995, Close, 1784.08, 676.97, 2.64, 59.43%
 38 - crvusdt, sl: 0.999, tp: 0.995, High, 2342.8, 676.69, 3.46, 55.87%
 39 - crvusdt, sl: 0.999, tp: 0.99, Close, 478.65, 1371.87, 0.35, 51.64%
 40 - crvusdt, sl: 0.999, tp: 0.99, High, 2202.08, 1371.01, 1.61, 51.14%
 41 - crvusdt, sl: 1.003, tp: 1.005, Close, 329.33, 26.02, 12.66, 61.36%
 42 - crvusdt, sl: 1.003, tp: 1.005, High, 333.76, 26.02, 12.83, 54.55%
 43 - crvusdt, sl: 1.003, tp: 0.999, Close, 1055.99, 215.36, 4.9, 59.91%
 44 - crvusdt, sl: 1.003, tp: 0.999, High, 1055.83, 215.36, 4.9, 59.26%
 45 - crvusdt, sl: 1.003, tp: 0.995, Close, 1666.5, 677.03, 2.46, 61.17%
 46 - crvusdt, sl: 1.003, tp: 0.995, High, 1752.83, 676.99, 2.59, 60.49%
 47 - crvusdt, sl: 1.003, tp: 0.99, Close, 130.64, 1372.05, 0.1, 54.71%
 48 - crvusdt, sl: 1.003, tp: 0.99, High, 696.94, 1371.77, 0.51, 54.17%
 49 - crvusdt, sl: 1.007, tp: 1.005, Close, 341.24, 26.02, 13.12, 61.63%
 50 - crvusdt, sl: 1.007, tp: 1.005, High, 329.55, 26.02, 12.66, 56.98%
 51 - crvusdt, sl: 1.007, tp: 0.999, Close, 1093.94, 215.35, 5.08, 62.70%
 52 - crvusdt, sl: 1.007, tp: 0.999, High, 1049.27, 215.37, 4.87, 62.25%
 53 - crvusdt, sl: 1.007, tp: 0.995, Close, 1731.49, 677.0, 2.56, 63.62%
 54 - crvusdt, sl: 1.007, tp: 0.995, High, 1624.79, 677.05, 2.4, 63.50%
 55 - crvusdt, sl: 1.007, tp: 0.99, Close, 331.93, 1371.95, 0.24, 58.10%
 56 - crvusdt, sl: 1.007, tp: 0.99, High, 377.52, 1371.93, 0.28, 57.91%
 57 - crvusdt, sl: 1.011, tp: 1.005, Close, 344.8, 26.01, 13.25, 61.63%
 58 - crvusdt, sl: 1.011, tp: 1.005, High, 333.03, 26.02, 12.8, 59.30%
 59 - crvusdt, sl: 1.011, tp: 0.999, Close, 1044.33, 215.37, 4.85, 64.33%
 60 - crvusdt, sl: 1.011, tp: 0.999, High, 1037.55, 215.37, 4.82, 63.66%
 61 - crvusdt, sl: 1.011, tp: 0.995, Close, 1649.87, 677.04, 2.44, 65.08%
 62 - crvusdt, sl: 1.011, tp: 0.995, High, 1630.56, 677.05, 2.41, 65.08%
 63 - crvusdt, sl: 1.011, tp: 0.99, Close, 516.49, 1371.86, 0.38, 59.53%
 64 - crvusdt, sl: 1.011, tp: 0.99, High, 602.35, 1371.81, 0.44, 59.43%
 65 - injusdt, sl: 0.999, tp: 1.005, Close, 501.42, 42.93, 11.68, 71.90%
 66 - injusdt, sl: 0.999, tp: 1.005, High, 537.52, 42.91, 12.53, 60.13%
 67 - injusdt, sl: 0.999, tp: 0.999, Close, 836.37, 232.27, 3.6, 59.04%
 68 - injusdt, sl: 0.999, tp: 0.999, High, 1149.09, 232.11, 4.95, 51.46%
 69 - injusdt, sl: 0.999, tp: 0.995, Close, 621.91, 658.76, 0.94, 56.88%
 70 - injusdt, sl: 0.999, tp: 0.995, High, 1569.5, 658.29, 2.38, 52.46%
 71 - injusdt, sl: 0.999, tp: 0.99, Close, -1684.69, 1305.59, -1.29, 52.14%
 72 - injusdt, sl: 0.999, tp: 0.99, High, 903.47, 1304.3, 0.69, 50.77%
 73 - injusdt, sl: 1.003, tp: 1.005, Close, 506.83, 42.93, 11.81, 68.42%
 74 - injusdt, sl: 1.003, tp: 1.005, High, 533.59, 42.91, 12.43, 65.79%
 75 - injusdt, sl: 1.003, tp: 0.999, Close, 894.54, 230.44, 3.88, 60.61%
 76 - injusdt, sl: 1.003, tp: 0.999, High, 1053.82, 230.36, 4.57, 58.81%
 77 - injusdt, sl: 1.003, tp: 0.995, Close, 617.39, 656.16, 0.94, 58.50%
 78 - injusdt, sl: 1.003, tp: 0.995, High, 1133.33, 655.91, 1.73, 57.30%
 79 - injusdt, sl: 1.003, tp: 0.99, Close, -1860.13, 1301.08, -1.43, 53.81%
 80 - injusdt, sl: 1.003, tp: 0.99, High, -549.82, 1300.42, -0.42, 53.38%
 81 - injusdt, sl: 1.007, tp: 1.005, Close, 496.69, 42.93, 11.57, 70.86%
 82 - injusdt, sl: 1.007, tp: 1.005, High, 532.94, 42.91, 12.42, 69.54%
 83 - injusdt, sl: 1.007, tp: 0.999, Close, 860.4, 230.45, 3.73, 62.82%
 84 - injusdt, sl: 1.007, tp: 0.999, High, 969.08, 230.4, 4.21, 61.90%
 85 - injusdt, sl: 1.007, tp: 0.995, Close, 590.95, 656.18, 0.9, 60.61%
 86 - injusdt, sl: 1.007, tp: 0.995, High, 819.61, 656.06, 1.25, 60.04%
 87 - injusdt, sl: 1.007, tp: 0.99, Close, -1948.92, 1301.12, -1.5, 56.40%
 88 - injusdt, sl: 1.007, tp: 0.99, High, -1261.17, 1300.78, -0.97, 56.13%
 89 - injusdt, sl: 1.011, tp: 1.005, Close, 524.26, 42.92, 12.22, 72.00%
 90 - injusdt, sl: 1.011, tp: 1.005, High, 547.3, 42.9, 12.76, 70.67%
 91 - injusdt, sl: 1.011, tp: 0.999, Close, 879.47, 230.45, 3.82, 63.52%
 92 - injusdt, sl: 1.011, tp: 0.999, High, 933.95, 230.42, 4.05, 62.96%
 93 - injusdt, sl: 1.011, tp: 0.995, Close, 631.4, 656.16, 0.96, 61.67%
 94 - injusdt, sl: 1.011, tp: 0.995, High, 700.52, 656.12, 1.07, 61.33%
 95 - injusdt, sl: 1.011, tp: 0.99, Close, -2063.75, 1301.18, -1.59, 57.75%
 96 - injusdt, sl: 1.011, tp: 0.99, High, -1816.87, 1301.06, -1.4, 57.47%
 97 - imxusdt, sl: 0.999, tp: 1.005, Close, 570.12, 36.7, 15.54, 71.09%
 98 - imxusdt, sl: 0.999, tp: 1.005, High, 566.64, 36.7, 15.44, 57.81%
 99 - imxusdt, sl: 0.999, tp: 0.999, Close, 1154.63, 230.71, 5.0, 57.76%
 100 - imxusdt, sl: 0.999, tp: 0.999, High, 1427.02, 230.57, 6.19, 52.85%
 101 - imxusdt, sl: 0.999, tp: 0.995, Close, 1439.33, 634.16, 2.27, 56.77%
 102 - imxusdt, sl: 0.999, tp: 0.995, High, 2310.95, 633.73, 3.65, 54.70%
 103 - imxusdt, sl: 0.999, tp: 0.99, Close, 771.41, 1252.19, 0.62, 53.36%
 104 - imxusdt, sl: 0.999, tp: 0.99, High, 2676.06, 1251.24, 2.14, 52.39%
 105 - imxusdt, sl: 1.003, tp: 1.005, Close, 566.57, 36.7, 15.44, 70.08%
 106 - imxusdt, sl: 1.003, tp: 1.005, High, 554.56, 36.7, 15.11, 65.35%
 107 - imxusdt, sl: 1.003, tp: 0.999, Close, 1132.43, 230.72, 4.91, 60.54%
 108 - imxusdt, sl: 1.003, tp: 0.999, High, 1214.83, 230.68, 5.27, 59.50%
 109 - imxusdt, sl: 1.003, tp: 0.995, Close, 1652.86, 634.06, 2.61, 60.49%
 110 - imxusdt, sl: 1.003, tp: 0.995, High, 1868.31, 633.95, 2.95, 59.51%
 111 - imxusdt, sl: 1.003, tp: 0.99, Close, 1218.22, 1251.96, 0.97, 56.30%

 112 - imxusdt, sl: 1.003, tp: 0.99, High, 1987.92, 1251.58, 1.59, 56.02%
 113 - imxusdt, sl: 1.007, tp: 1.005, Close, 557.98, 36.7, 15.2, 71.65%
 114 - imxusdt, sl: 1.007, tp: 1.005, High, 536.5, 36.71, 14.61, 67.72%
 115 - imxusdt, sl: 1.007, tp: 0.999, Close, 1067.48, 230.75, 4.63, 62.42%
 116 - imxusdt, sl: 1.007, tp: 0.999, High, 1036.03, 230.77, 4.49, 61.80%
 117 - imxusdt, sl: 1.007, tp: 0.995, Close, 1640.34, 634.06, 2.59, 62.77%
 118 - imxusdt, sl: 1.007, tp: 0.995, High, 1583.32, 634.09, 2.5, 62.52%
 119 - imxusdt, sl: 1.007, tp: 0.99, Close, 1457.77, 1251.85, 1.16, 59.29%
 120 - imxusdt, sl: 1.007, tp: 0.99, High, 1480.58, 1251.83, 1.18, 59.29%
 121 - imxusdt, sl: 1.011, tp: 1.005, Close, 586.69, 36.69, 15.99, 75.20%
 122 - imxusdt, sl: 1.011, tp: 1.005, High, 571.83, 36.7, 15.58, 72.80%
 123 - imxusdt, sl: 1.011, tp: 0.999, Close, 1091.2, 230.74, 4.73, 64.88%
 124 - imxusdt, sl: 1.011, tp: 0.999, High, 1044.31, 230.76, 4.53, 64.88%
 125 - imxusdt, sl: 1.011, tp: 0.995, Close, 1726.02, 634.02, 2.72, 65.45%
 126 - imxusdt, sl: 1.011, tp: 0.995, High, 1688.62, 634.04, 2.66, 65.32%
 127 - imxusdt, sl: 1.011, tp: 0.99, Close, 1531.49, 1251.81, 1.22, 62.06%
 128 - imxusdt, sl: 1.011, tp: 0.99, High, 1701.43, 1251.72, 1.36, 62.06%
 129 - roseusdt, sl: 0.999, tp: 1.005, Close, 374.37, 33.0, 11.35, 64.41%
 130 - roseusdt, sl: 0.999, tp: 1.005, High, 404.67, 32.98, 12.27, 52.54%
 131 - roseusdt, sl: 0.999, tp: 0.999, Close, 1429.27, 283.54, 5.04, 56.96%
 132 - roseusdt, sl: 0.999, tp: 0.999, High, 1606.85, 283.45, 5.67, 51.78%
 133 - roseusdt, sl: 0.999, tp: 0.995, Close, 1981.2, 781.22, 2.54, 55.27%
 134 - roseusdt, sl: 0.999, tp: 0.995, High, 2710.64, 780.85, 3.47, 53.11%
 135 - roseusdt, sl: 0.999, tp: 0.99, Close, 195.58, 1525.34, 0.13, 49.47%
 136 - roseusdt, sl: 0.999, tp: 0.99, High, 2358.88, 1524.26, 1.55, 49.17%
 137 - roseusdt, sl: 1.003, tp: 1.005, Close, 369.63, 33.0, 11.2, 64.41%
 138 - roseusdt, sl: 1.003, tp: 1.005, High, 395.98, 32.99, 12.0, 61.86%
 139 - roseusdt, sl: 1.003, tp: 0.999, Close, 1404.72, 283.56, 4.95, 59.83%
 140 - roseusdt, sl: 1.003, tp: 0.999, High, 1476.12, 283.52, 5.21, 58.79%
 141 - roseusdt, sl: 1.003, tp: 0.995, Close, 2005.16, 781.21, 2.57, 58.73%
 142 - roseusdt, sl: 1.003, tp: 0.995, High, 2291.38, 781.06, 2.93, 58.32%
 143 - roseusdt, sl: 1.003, tp: 0.99, Close, 150.17, 1525.36, 0.1, 53.80%
 144 - roseusdt, sl: 1.003, tp: 0.99, High, 1057.42, 1524.91, 0.69, 53.47%
 145 - roseusdt, sl: 1.007, tp: 1.005, Close, 393.77, 32.99, 11.94, 68.64%
 146 - roseusdt, sl: 1.007, tp: 1.005, High, 435.47, 32.97, 13.21, 66.95%
 147 - roseusdt, sl: 1.007, tp: 0.999, Close, 1334.93, 283.59, 4.71, 62.96%
 148 - roseusdt, sl: 1.007, tp: 0.999, High, 1437.04, 283.54, 5.07, 62.61%
 149 - roseusdt, sl: 1.007, tp: 0.995, Close, 1945.38, 781.24, 2.49, 62.23%
 150 - roseusdt, sl: 1.007, tp: 0.995, High, 2227.92, 781.1, 2.85, 62.12%
 151 - roseusdt, sl: 1.007, tp: 0.99, Close, 120.91, 1525.38, 0.08, 57.50%
 152 - roseusdt, sl: 1.007, tp: 0.99, High, 844.6, 1525.02, 0.55, 57.41%
 153 - roseusdt, sl: 1.011, tp: 1.005, Close, 431.39, 32.97, 13.09, 71.19%
 154 - roseusdt, sl: 1.011, tp: 1.005, High, 453.26, 32.96, 13.75, 70.34%
 155 - roseusdt, sl: 1.011, tp: 0.999, Close, 1445.96, 283.14, 5.11, 65.06%
 156 - roseusdt, sl: 1.011, tp: 0.999, High, 1504.66, 283.11, 5.31, 65.06%
 157 - roseusdt, sl: 1.011, tp: 0.995, Close, 2021.58, 780.4, 2.59, 64.61%
 158 - roseusdt, sl: 1.011, tp: 0.995, High, 2067.3, 780.38, 2.65, 64.61%
 159 - roseusdt, sl: 1.011, tp: 0.99, Close, 191.97, 1524.54, 0.13, 59.47%
 160 - roseusdt, sl: 1.011, tp: 0.99, High, 354.7, 1524.46, 0.23, 59.47%
 161 - linausdt, sl: 0.999, tp: 1.005, Close, 468.04, 41.75, 11.21, 58.74%
 162 - linausdt, sl: 0.999, tp: 1.005, High, 464.92, 41.75, 11.14, 46.85%
 163 - linausdt, sl: 0.999, tp: 0.999, Close, 1412.31, 245.17, 5.76, 57.63%
 164 - linausdt, sl: 0.999, tp: 0.999, High, 1523.35, 245.12, 6.21, 48.52%
 165 - linausdt, sl: 0.999, tp: 0.995, Close, 2044.7, 542.11, 3.77, 55.47%
 166 - linausdt, sl: 0.999, tp: 0.995, High, 2420.28, 541.92, 4.47, 50.20%
 167 - linausdt, sl: 0.999, tp: 0.99, Close, 682.29, 1078.32, 0.63, 51.65%
 168 - linausdt, sl: 0.999, tp: 0.99, High, 2287.36, 1077.52, 2.12, 49.20%
 169 - linausdt, sl: 1.003, tp: 1.005, Close, 563.61, 41.7, 13.52, 62.96%
 170 - linausdt, sl: 1.003, tp: 1.005, High, 607.72, 41.68, 14.58, 60.00%
 171 - linausdt, sl: 1.003, tp: 0.999, Close, 1441.05, 245.16, 5.88, 60.32%
 172 - linausdt, sl: 1.003, tp: 0.999, High, 1769.78, 244.99, 7.22, 59.17%
 173 - linausdt, sl: 1.003, tp: 0.995, Close, 1996.65, 542.13, 3.68, 60.67%
 174 - linausdt, sl: 1.003, tp: 0.995, High, 2847.0, 541.71, 5.26, 60.09%
 175 - linausdt, sl: 1.003, tp: 0.99, Close, 198.56, 1078.56, 0.18, 56.14%
 176 - linausdt, sl: 1.003, tp: 0.99, High, 2536.75, 1077.39, 2.35, 55.72%
 177 - linausdt, sl: 1.007, tp: 1.005, Close, 575.31, 41.69, 13.8, 65.19%
 178 - linausdt, sl: 1.007, tp: 1.005, High, 596.03, 41.68, 14.3, 62.96%
 179 - linausdt, sl: 1.007, tp: 0.999, Close, 1528.41, 245.11, 6.24, 62.15%
 180 - linausdt, sl: 1.007, tp: 0.999, High, 1589.2, 245.08, 6.48, 61.92%
 181 - linausdt, sl: 1.007, tp: 0.995, Close, 2279.17, 541.99, 4.21, 62.41%
 182 - linausdt, sl: 1.007, tp: 0.995, High, 2519.3, 541.87, 4.65, 62.26%
 183 - linausdt, sl: 1.007, tp: 0.99, Close, 650.67, 1078.34, 0.6, 57.33%
 184 - linausdt, sl: 1.007, tp: 0.99, High, 1497.83, 1077.91, 1.39, 57.00%
 185 - linausdt, sl: 1.011, tp: 1.005, Close, 590.8, 41.68, 14.17, 65.67%
 186 - linausdt, sl: 1.011, tp: 1.005, High, 592.35, 41.68, 14.21, 64.18%
 187 - linausdt, sl: 1.011, tp: 0.999, Close, 1720.4, 245.02, 7.02, 64.93%
 188 - linausdt, sl: 1.011, tp: 0.999, High, 1678.39, 245.04, 6.85, 64.93%
 189 - linausdt, sl: 1.011, tp: 0.995, Close, 2569.83, 541.84, 4.74, 65.38%
 190 - linausdt, sl: 1.011, tp: 0.995, High, 2445.25, 541.91, 4.51, 65.38%
 191 - linausdt, sl: 1.011, tp: 0.99, Close, 1032.25, 1078.14, 0.96, 60.27%
 192 - linausdt, sl: 1.011, tp: 0.99, High, 986.44, 1078.17, 0.91, 60.05%
 193 - ftmusdt, sl: 0.999, tp: 1.005, Close, 329.76, 30.42, 10.84, 68.47%
 194 - ftmusdt, sl: 0.999, tp: 1.005, High, 351.87, 30.41, 11.57, 56.76%
 195 - ftmusdt, sl: 0.999, tp: 0.999, Close, 1522.06, 269.3, 5.65, 60.42%
 196 - ftmusdt, sl: 0.999, tp: 0.999, High, 1753.76, 269.19, 6.52, 52.61%
 197 - ftmusdt, sl: 0.999, tp: 0.995, Close, 1994.76, 779.21, 2.56, 55.50%
 198 - ftmusdt, sl: 0.999, tp: 0.995, High, 2836.25, 778.79, 3.64, 51.87%
 199 - ftmusdt, sl: 0.999, tp: 0.99, Close, -565.86, 1451.76, -0.39, 52.16%
 200 - ftmusdt, sl: 0.999, tp: 0.99, High, 1462.82, 1450.74, 1.01, 50.96%
 201 - ftmusdt, sl: 1.003, tp: 1.005, Close, 354.71, 30.41, 11.67, 64.86%
 202 - ftmusdt, sl: 1.003, tp: 1.005, High, 353.49, 30.41, 11.62, 61.26%
 203 - ftmusdt, sl: 1.003, tp: 0.999, Close, 1466.34, 268.53, 5.46, 60.77%
 204 - ftmusdt, sl: 1.003, tp: 0.999, High, 1528.47, 268.5, 5.69, 59.72%
 205 - ftmusdt, sl: 1.003, tp: 0.995, Close, 1840.2, 776.69, 2.37, 57.29%
 206 - ftmusdt, sl: 1.003, tp: 0.995, High, 2025.2, 776.6, 2.61, 57.19%
 207 - ftmusdt, sl: 1.003, tp: 0.99, Close, -551.79, 1447.95, -0.38, 54.30%
 208 - ftmusdt, sl: 1.003, tp: 0.99, High, 4.99, 1447.67, 0.0, 53.78%
 209 - ftmusdt, sl: 1.007, tp: 1.005, Close, 383.8, 30.39, 12.63, 65.45%
 210 - ftmusdt, sl: 1.007, tp: 1.005, High, 387.0, 30.39, 12.73, 64.55%
 211 - ftmusdt, sl: 1.007, tp: 0.999, Close, 1503.4, 268.51, 5.6, 63.49%
 212 - ftmusdt, sl: 1.007, tp: 0.999, High, 1578.25, 268.48, 5.88, 63.49%
 213 - ftmusdt, sl: 1.007, tp: 0.995, Close, 1852.09, 776.69, 2.38, 60.26%
 214 - ftmusdt, sl: 1.007, tp: 0.995, High, 2054.96, 776.58, 2.65, 60.26%
 215 - ftmusdt, sl: 1.007, tp: 0.99, Close, -628.95, 1447.99, -0.43, 57.04%
 216 - ftmusdt, sl: 1.007, tp: 0.99, High, -250.32, 1447.8, -0.17, 57.04%
 217 - ftmusdt, sl: 1.011, tp: 1.005, Close, 403.6, 30.38, 13.28, 69.09%
 218 - ftmusdt, sl: 1.011, tp: 1.005, High, 394.78, 30.39, 12.99, 68.18%
 219 - ftmusdt, sl: 1.011, tp: 0.999, Close, 1546.33, 268.49, 5.76, 64.79%
 220 - ftmusdt, sl: 1.011, tp: 0.999, High, 1521.09, 268.51, 5.67, 64.79%

 221 - ftmusdt, sl: 1.011, tp: 0.995, Close, 2033.07, 776.6, 2.62, 61.58%
 222 - ftmusdt, sl: 1.011, tp: 0.995, High, 2067.75, 776.58, 2.66, 61.58%
 223 - ftmusdt, sl: 1.011, tp: 0.99, Close, -388.81, 1447.87, -0.27, 58.46%
 224 - ftmusdt, sl: 1.011, tp: 0.99, High, -221.3, 1447.79, -0.15, 58.46%
 225 - adausdt, sl: 0.999, tp: 1.005, Close, 233.3, 19.07, 12.23, 60.56%
 226 - adausdt, sl: 0.999, tp: 1.005, High, 246.51, 19.07, 12.93, 54.93%
 227 - adausdt, sl: 0.999, tp: 0.999, Close, 1025.22, 299.94, 3.42, 60.81%
 228 - adausdt, sl: 0.999, tp: 0.999, High, 1153.72, 299.87, 3.85, 48.41%
 229 - adausdt, sl: 0.999, tp: 0.995, Close, 924.64, 1121.98, 0.82, 55.22%
 230 - adausdt, sl: 0.999, tp: 0.995, High, 1922.38, 1121.48, 1.71, 51.41%
 231 - adausdt, sl: 0.999, tp: 0.99, Close, -3566.43, 2071.95, -1.72, 47.62%
 232 - adausdt, sl: 0.999, tp: 0.99, High, -1145.82, 2070.74, -0.55, 46.34%
 233 - adausdt, sl: 1.003, tp: 1.005, Close, 234.15, 19.07, 12.28, 62.86%
 234 - adausdt, sl: 1.003, tp: 1.005, High, 225.04, 19.08, 11.8, 60.00%
 235 - adausdt, sl: 1.003, tp: 0.999, Close, 1052.6, 299.92, 3.51, 62.82%
 236 - adausdt, sl: 1.003, tp: 0.999, High, 1076.5, 299.91, 3.59, 62.50%
 237 - adausdt, sl: 1.003, tp: 0.995, Close, 964.28, 1121.96, 0.86, 60.03%
 238 - adausdt, sl: 1.003, tp: 0.995, High, 1281.49, 1121.8, 1.14, 59.69%
 239 - adausdt, sl: 1.003, tp: 0.99, Close, -3799.51, 2072.06, -1.83, 52.16%
 240 - adausdt, sl: 1.003, tp: 0.99, High, -3085.21, 2071.71, -1.49, 52.00%
 241 - adausdt, sl: 1.007, tp: 1.005, Close, 234.42, 19.07, 12.29, 65.71%
 242 - adausdt, sl: 1.007, tp: 1.005, High, 224.81, 19.08, 11.78, 65.71%
 243 - adausdt, sl: 1.007, tp: 0.999, Close, 1114.78, 299.89, 3.72, 65.81%
 244 - adausdt, sl: 1.007, tp: 0.999, High, 1096.27, 299.9, 3.66, 65.81%
 245 - adausdt, sl: 1.007, tp: 0.995, Close, 1226.03, 1121.83, 1.09, 62.58%
 246 - adausdt, sl: 1.007, tp: 0.995, High, 1288.72, 1121.79, 1.15, 62.58%
 247 - adausdt, sl: 1.007, tp: 0.99, Close, -2992.29, 2071.66, -1.44, 55.38%
 248 - adausdt, sl: 1.007, tp: 0.99, High, -2779.55, 2071.55, -1.34, 55.38%
 249 - adausdt, sl: 1.011, tp: 1.005, Close, 237.56, 19.07, 12.46, 68.57%
 250 - adausdt, sl: 1.011, tp: 1.005, High, 227.17, 19.08, 11.91, 68.57%
 251 - adausdt, sl: 1.011, tp: 0.999, Close, 1033.82, 299.93, 3.45, 67.05%
 252 - adausdt, sl: 1.011, tp: 0.999, High, 1045.97, 299.93, 3.49, 67.05%
 253 - adausdt, sl: 1.011, tp: 0.995, Close, 949.8, 1121.96, 0.85, 63.40%
 254 - adausdt, sl: 1.011, tp: 0.995, High, 1003.15, 1121.94, 0.89, 63.40%
 255 - adausdt, sl: 1.011, tp: 0.99, Close, -3449.01, 2071.89, -1.66, 56.54%
 256 - adausdt, sl: 1.011, tp: 0.99, High, -3334.87, 2071.83, -1.61, 56.54%
 257 - avaxusdt, sl: 0.999, tp: 1.005, Close, 189.68, 16.7, 11.36, 72.06%
 258 - avaxusdt, sl: 0.999, tp: 1.005, High, 194.19, 16.69, 11.63, 55.88%
 259 - avaxusdt, sl: 0.999, tp: 0.999, Close, 955.45, 236.0, 4.05, 60.89%
 260 - avaxusdt, sl: 0.999, tp: 0.999, High, 1012.95, 235.98, 4.29, 50.09%
 261 - avaxusdt, sl: 0.999, tp: 0.995, Close, 1308.25, 893.9, 1.46, 55.80%
 262 - avaxusdt, sl: 0.999, tp: 0.995, High, 1941.24, 893.58, 2.17, 51.24%
 263 - avaxusdt, sl: 0.999, tp: 0.99, Close, -893.58, 1651.02, -0.54, 49.59%
 264 - avaxusdt, sl: 0.999, tp: 0.99, High, 918.29, 1650.12, 0.56, 48.46%
 265 - avaxusdt, sl: 1.003, tp: 1.005, Close, 178.53, 16.7, 10.69, 64.18%
 266 - avaxusdt, sl: 1.003, tp: 1.005, High, 180.6, 16.7, 10.81, 59.70%
 267 - avaxusdt, sl: 1.003, tp: 0.999, Close, 1010.05, 235.98, 4.28, 62.90%
 268 - avaxusdt, sl: 1.003, tp: 0.999, High, 997.11, 235.98, 4.23, 62.34%
 269 - avaxusdt, sl: 1.003, tp: 0.995, Close, 1471.64, 893.82, 1.65, 59.83%
 270 - avaxusdt, sl: 1.003, tp: 0.995, High, 1566.82, 893.77, 1.75, 58.64%
 271 - avaxusdt, sl: 1.003, tp: 0.99, Close, -550.12, 1650.85, -0.33, 54.08%
 272 - avaxusdt, sl: 1.003, tp: 0.99, High, -188.09, 1650.67, -0.11, 53.81%
 273 - avaxusdt, sl: 1.007, tp: 1.005, Close, 168.41, 16.71, 10.08, 63.64%
 274 - avaxusdt, sl: 1.007, tp: 1.005, High, 173.44, 16.7, 10.38, 62.12%
 275 - avaxusdt, sl: 1.007, tp: 0.999, Close, 1004.94, 235.98, 4.26, 65.07%
 276 - avaxusdt, sl: 1.007, tp: 0.999, High, 995.65, 235.98, 4.22, 64.49%
 277 - avaxusdt, sl: 1.007, tp: 0.995, Close, 1765.83, 893.67, 1.98, 62.47%
 278 - avaxusdt, sl: 1.007, tp: 0.995, High, 1779.78, 893.66, 1.99, 62.25%
 279 - avaxusdt, sl: 1.007, tp: 0.99, Close, 179.52, 1650.48, 0.11, 57.24%
 280 - avaxusdt, sl: 1.007, tp: 0.99, High, 254.93, 1650.45, 0.15, 57.14%
 281 - avaxusdt, sl: 1.011, tp: 1.005, Close, 180.44, 16.7, 10.8, 64.62%
 282 - avaxusdt, sl: 1.011, tp: 1.005, High, 175.74, 16.7, 10.52, 63.08%
 283 - avaxusdt, sl: 1.011, tp: 0.999, Close, 972.18, 236.0, 4.12, 65.51%
 284 - avaxusdt, sl: 1.011, tp: 0.999, High, 970.29, 236.0, 4.11, 65.51%
 285 - avaxusdt, sl: 1.011, tp: 0.995, Close, 1698.83, 893.7, 1.9, 63.52%
 286 - avaxusdt, sl: 1.011, tp: 0.995, High, 1709.33, 893.7, 1.91, 63.52%
 287 - avaxusdt, sl: 1.011, tp: 0.99, Close, 102.79, 1650.52, 0.06, 58.34%
 288 - avaxusdt, sl: 1.011, tp: 0.99, High, 12.52, 1650.57, 0.01, 58.34%
Time taken to execute for loop: 1483.7161056995392 seconds

In [20]:
results_df.to_csv(f'results_df_026.csv')