In [1]:
# 日線量價吞噬前根紅Ｋ 進場
# RSI > 68 & KD > 80 或 紅Ｋ貫穿布林Ｍ往下
# ! conda install -c conda-forge ta --yes

In [111]:
import websocket
import requests
import json
import pandas as pd
import ta
import matplotlib.pyplot as plt
import math
import pytz
import datetime as dt
import numpy as np
import time

In [115]:
timezone = 8
endpoint = 'wss://stream.binance.com:9443/ws'
symbol = 'ethusdt'
symbol_C = symbol.upper()
rate = 30
interval = '1d'
limit = 1000

# start epoch till now
start_time = 1641020207000
end_time = round(time.time() * 1000)

# step between timestamps in milliseconds, 60000 = 1min
step = 60000 * 60 * 24 # 15min

In [116]:
def get_historical(symbol, interval, start_time, end_time, step):
    
    df = pd.DataFrame()
    
    url = "https://api.binance.com/api/v3/klines"
    
    for timestamp in range(start_time, end_time, step):
        params = {"symbol": symbol_C,
                  "interval": interval,
                  "startTime": timestamp,
                  "endTime": timestamp + step}
        response = requests.get(url, params=params).json()
        out = pd.DataFrame(response, columns = ["Open time", "Open", "High", "Low", "Close",
                                               "Volume", "Close_Time", "Quote asset volume",
                                               "Number of trades", "Taker buy base asset volume",
                                               "Taker buy quote asset volume", "Ignore"])
        df = pd.concat([df, out], axis = 0)
    
    return df

In [117]:
df = get_historical(symbol, interval, start_time, end_time, step)

# filter columns, adjust data type
df = df[['Close_Time', 'Open', 'Close', "High", "Low", 'Volume']]
convert_dict = {'Close_Time': float, 'Open': float, 'Close': float, "High": float, "Low": float, 'Volume': float}
df = df.astype(convert_dict)

# adjust time to readable format and adjust timezone
df['Close_Time'] = pd.to_datetime(df['Close_Time'], unit = 'ms')
df['Close_Time'] = df['Close_Time'] + pd.Timedelta(hours=timezone)

# set proper index
df = df.reset_index(drop=True)

# for further iterations, to prevent time consumption in fetching raw data 
rawdf = df.copy()

print(df)

                       Close_Time     Open    Close     High      Low  \
0   2022-01-03 07:59:59.999000064  3765.54  3828.27  3857.44  3717.30
1   2022-01-04 07:59:59.999000064  3828.11  3765.89  3853.09  3680.00
2   2022-01-05 07:59:59.999000064  3765.89  3785.11  3900.73  3713.11
3   2022-01-06 07:59:59.999000064  3785.10  3540.63  3848.00  3415.00
4   2022-01-07 07:59:59.999000064  3539.82  3406.81  3550.43  3300.00
..                            ...      ...      ...      ...      ...
406 2023-02-13 07:59:59.999000064  1538.50  1514.83  1548.02  1493.08
407 2023-02-14 07:59:59.999000064  1514.82  1505.24  1526.10  1461.93
408 2023-02-15 07:59:59.999000064  1505.25  1555.71  1569.00  1482.66
409 2023-02-16 07:59:59.999000064  1555.70  1674.92  1680.00  1542.55
410 2023-02-17 07:59:59.999000064  1674.92  1678.74  1712.24  1672.53

          Volume
0    154791.4263
1    236245.8586
2    288258.5549
3    397942.0363
4    496745.7413
..           ...
406  286758.3740
407  643152.3904
408  668964.3768
409  581207.8586
410  229900.1625

[411 rows x 6 columns]

In [118]:
df = rawdf.copy()
print(rawdf)

                       Close_Time     Open    Close     High      Low  \
0   2022-01-03 07:59:59.999000064  3765.54  3828.27  3857.44  3717.30
1   2022-01-04 07:59:59.999000064  3828.11  3765.89  3853.09  3680.00
2   2022-01-05 07:59:59.999000064  3765.89  3785.11  3900.73  3713.11
3   2022-01-06 07:59:59.999000064  3785.10  3540.63  3848.00  3415.00
4   2022-01-07 07:59:59.999000064  3539.82  3406.81  3550.43  3300.00
..                            ...      ...      ...      ...      ...
406 2023-02-13 07:59:59.999000064  1538.50  1514.83  1548.02  1493.08
407 2023-02-14 07:59:59.999000064  1514.82  1505.24  1526.10  1461.93
408 2023-02-15 07:59:59.999000064  1505.25  1555.71  1569.00  1482.66
409 2023-02-16 07:59:59.999000064  1555.70  1674.92  1680.00  1542.55
410 2023-02-17 07:59:59.999000064  1674.92  1678.74  1712.24  1672.53

          Volume
0    154791.4263
1    236245.8586
2    288258.5549
3    397942.0363
4    496745.7413
..           ...
406  286758.3740
407  643152.3904
408  668964.3768
409  581207.8586
410  229900.1625

[411 rows x 6 columns]

In [123]:
def indicators(df):
# bband
    bb_int = 30
    bb_dev = 2
    bb = ta.volatility.BollingerBands(df['Close'], window=bb_int, window_dev=bb_dev)
    df['bb_u'] = bb.bollinger_hband()
    df['bb_m'] = bb.bollinger_mavg()
    df['bb_l'] = bb.bollinger_lband()
# rsi
    rsi_int = 14
    df['rsi'] = ta.momentum.RSIIndicator(df['Close'], window = rsi_int).rsi()
# kd
    kd_int = 14
    df['slowk'], df['slowd'] = ta.momentum.stoch(df['High'], df['Low'], df['Close'], window=kd_int, smooth_window=3, fillna=False)
    
    return df

In [124]:
indicators(df)

,Close_Time,Open,Close,High,Low,Volume,bb_u,bb_m,bb_l,rsi
0,2022-01-03 07:59:59.999000064,3765.54,3828.27,3857.44,3717.30,154791.4263,NaN,NaN,NaN,NaN
1,2022-01-04 07:59:59.999000064,3828.11,3765.89,3853.09,3680.00,236245.8586,NaN,NaN,NaN,NaN
2,2022-01-05 07:59:59.999000064,3765.89,3785.11,3900.73,3713.11,288258.5549,NaN,NaN,NaN,NaN
3,2022-01-06 07:59:59.999000064,3785.10,3540.63,3848.00,3415.00,397942.0363,NaN,NaN,NaN,NaN
4,2022-01-07 07:59:59.999000064,3539.82,3406.81,3550.43,3300.00,496745.7413,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
406,2023-02-13 07:59:59.999000064,1538.50,1514.83,1548.02,1493.08,286758.3740,1692.521488,1595.751667,1498.981846,44.919076
407,2023-02-14 07:59:59.999000064,1514.82,1505.24,1526.10,1461.93,643152.3904,1695.097180,1594.263000,1493.428820,43.977097
408,2023-02-15 07:59:59.999000064,1505.25,1555.71,1569.00,1482.66,668964.3768,1695.033796,1594.369333,1493.704870,49.928268
409,2023-02-16 07:59:59.999000064,1555.70,1674.92,1680.00,1542.55,581207.8586,1702.111571,1597.635333,1493.159096,60.579947
410,2023-02-17 07:59:59.999000064,1674.92,1678.74,1712.24,1672.53,229900.1625,1709.103224,1601.407667,1493.712109,60.867224

In [26]:
def conditions(df):

    # c1 日線收在下布林
    # c2 本Ｋ為綠Ｋ 前一天為紅Ｋ
    # c3 量大於前日
    # c4 收盤大於前日開盤

    for index, row in df.iterrows():
        # c1
        df['c1'] = df['Close'] < df['bb_m']
        # c2
        df['c2'] = (df['Close'] - df['Open'] > 0) & (df['Close'].shift(1) - df['Open'].shift(1) < 0) 
        # c3
        df['c3'] = df['Volume'] > df['Volume'].shift(1)
        # c4
        df['c4'] = df['Close'] > df['Open']

    # 條件達成
    df['signal'] = False
    df.loc[df.c1 & df.c2 & df.c3 & df.c4 , 'signal'] = True


    # 下一根進場
    df['openbuy'] = False
    for i in range(len(df) - 1):
        if df.loc[i, 'signal'] == True:
            df.loc[i + 1, 'openbuy'] = True
    
    return df

In [27]:
conditions(df)

,Close_Time,Open,Close,High,Low,Volume,bb_u,bb_m,bb_l,c1,c2,c3,c4,signal,openbuy
0,2023-01-03 07:59:59.999000064,1200.33,1214.00,1224.29,1193.00,252794.1400,NaN,NaN,NaN,False,False,False,True,False,False
1,2023-01-04 07:59:59.999000064,1213.99,1214.55,1219.89,1204.93,205519.4944,NaN,NaN,NaN,False,False,False,True,False,False
2,2023-01-05 07:59:59.999000064,1214.56,1256.90,1272.60,1212.71,457799.6648,NaN,NaN,NaN,False,False,True,True,False,False
3,2023-01-06 07:59:59.999000064,1256.91,1251.24,1259.95,1242.81,272805.3300,NaN,NaN,NaN,False,False,False,False,False,False
4,2023-01-07 07:59:59.999000064,1251.25,1269.14,1276.70,1236.00,342344.2023,NaN,NaN,NaN,False,True,True,True,False,False
5,2023-01-08 07:59:59.999000064,1269.13,1264.07,1271.09,1261.30,129474.2884,NaN,NaN,NaN,False,False,False,False,False,False
6,2023-01-09 07:59:59.999000064,1264.06,1290.16,1296.00,1257.77,213636.7848,NaN,NaN,NaN,False,True,True,True,False,False
7,2023-01-10 07:59:59.999000064,1290.15,1320.39,1344.91,1285.44,581727.6968,NaN,NaN,NaN,False,False,True,True,False,False
8,2023-01-11 07:59:59.999000064,1320.40,1335.62,1347.69,1316.80,459660.2307,NaN,NaN,NaN,False,False,False,True,False,False
9,2023-01-12 07:59:59.999000064,1335.63,1389.39,1398.00,1321.04,472465.9556,NaN,NaN,NaN,False,False,True,True,False,False
10,2023-01-13 07:59:59.999000064,1389.40,1415.92,1438.00,1361.92,877712.4492,NaN,NaN,NaN,False,False,True,True,False,False
11,2023-01-14 07:59:59.999000064,1415.91,1451.20,1464.00,1401.03,499377.8649,NaN,NaN,NaN,False,False,False,True,False,False
12,2023-01-15 07:59:59.999000064,1451.21,1549.90,1599.98,1449.14,940691.7774,NaN,NaN,NaN,False,False,True,True,False,False
13,2023-01-16 07:59:59.999000064,1549.91,1552.52,1566.66,1516.03,387832.7138,NaN,NaN,NaN,False,False,False,True,False,False
14,2023-01-17 07:59:59.999000064,1552.52,1576.94,1604.50,1521.31,574622.8953,NaN,NaN,NaN,False,False,True,True,False,False
15,2023-01-18 07:59:59.999000064,1576.94,1565.57,1609.00,1541.15,506771.7219,NaN,NaN,NaN,False,False,False,False,False,False
16,2023-01-19 07:59:59.999000064,1565.56,1511.43,1610.00,1501.39,752534.8857,NaN,NaN,NaN,False,False,True,False,False,False
17,2023-01-20 07:59:59.999000064,1511.44,1551.09,1564.43,1509.15,308679.4645,NaN,NaN,NaN,False,True,False,True,False,False
18,2023-01-21 07:59:59.999000064,1551.09,1658.52,1669.90,1542.02,440570.9974,NaN,NaN,NaN,False,False,True,True,False,False
19,2023-01-22 07:59:59.999000064,1658.53,1626.66,1679.26,1616.21,494248.6009,NaN,NaN,NaN,False,False,True,False,False,False
20,2023-01-23 07:59:59.999000064,1626.65,1627.44,1663.89,1604.00,431729.6909,NaN,NaN,NaN,False,True,False,True,False,False
21,2023-01-24 07:59:59.999000064,1627.43,1626.29,1648.09,1585.29,407267.1156,NaN,NaN,NaN,False,False,False,False,False,False
22,2023-01-25 07:59:59.999000064,1626.28,1555.97,1641.46,1535.00,462275.3243,NaN,NaN,NaN,False,False,True,False,False,False
23,2023-01-26 07:59:59.999000064,1555.97,1611.94,1641.00,1518.00,646474.9166,NaN,NaN,NaN,False,True,True,True,False,False
24,2023-01-27 07:59:59.999000064,1611.95,1601.09,1632.84,1577.43,532777.8466,NaN,NaN,NaN,False,False,False,False,False,False
25,2023-01-28 07:59:59.999000064,1601.08,1597.62,1621.00,1552.54,512093.3875,NaN,NaN,NaN,False,False,False,False,False,False
26,2023-01-29 07:59:59.999000064,1597.61,1572.10,1606.83,1555.99,313675.6574,NaN,NaN,NaN,False,False,False,False,False,False
27,2023-01-30 07:59:59.999000064,1572.10,1644.72,1660.00,1566.33,551767.9134,NaN,NaN,NaN,False,True,True,True,False,False
28,2023-01-31 07:59:59.999000064,1644.73,1566.20,1647.53,1535.00,595055.3281,NaN,NaN,NaN,False,False,True,False,False,False
29,2023-02-01 07:59:59.999000064,1566.21,1585.33,1605.18,1561.63,348856.6751,1772.776164,1475.130333,1177.484502,False,True,False,True,False,False
30,2023-02-02 07:59:59.999000064,1585.32,1641.68,1647.77,1555.18,474617.1709,1776.417235,1489.386333,1202.355431,False,False,True,True,False,False
31,2023-02-03 07:59:59.999000064,1641.67,1643.12,1714.68,1626.85,629188.8874,1776.894049,1503.672000,1230.449951,False,False,True,True,False,False
32,2023-02-04 07:59:59.999000064,1643.12,1663.52,1676.00,1625.93,464815.0320,1780.290199,1517.226000,1254.161801,False,False,False,True,False,False
33,2023-02-05 07:59:59.999000064,1663.52,1666.38,1695.29,1645.43,308227.1295,1780.001597,1531.064000,1282.126403,False,False,False,True,False,False
34,2023-02-06 07:59:59.999000064,1666.39,1629.02,1673.81,1609.30,413579.6748,1774.417884,1543.060000,1311.702116,False,False,True,False,False,False
35,2023-02-07 07:59:59.999000064,1629.01,1614.29,1658.56,1605.01,384119.4197,1762.771930,1554.734000,1346.696070,False,False,False,False,False,False
36,2023-02-08 07:59:59.999000064,1614.28,1671.03,1678.37,1613.14,451922.4000,1754.793240,1567.429667,1380.066094,False,True,True,True,False,False
37,2023-02-09 07:59:59.999000064,1671.03,1650.43,1697.91,1630.47,417966.2539,1743.967659,1578.431000,1412.894341,False,False,False,False,False,False
38,2023-02-10 07:59:59.999000064,1650.42,1545.35,1656.17,1524.40,658011.6964,1725.035199,1585.422000,1445.808801,True,False,True,False,False,False
39,2023-02-11 07:59:59.999000064,1545.35,1513.06,1555.01,1490.00,484654.2199,1712.011605,1589.544333,1467.077061,True,False,False,False,False,False
40,2023-02-12 07:59:59.999000064,1513.05,1538.51,1543.00,1505.00,289691.5708,1699.740607,1593.630667,1487.520726,True,True,False,True,False,False
41,2023-02-13 07:59:59.999000064,1538.50,1514.83,1548.02,1493.08,286758.3740,1692.521488,1595.751667,1498.981846,True,False,False,False,False,False
42,2023-02-14 07:59:59.999000064,1514.82,1505.24,1526.10,1461.93,643152.3904,1695.097180,1594.263000,1493.428820,True,False,True,False,False,False
43,2023-02-15 07:59:59.999000064,1505.25,1555.71,1569.00,1482.66,668964.3768,1695.033796,1594.369333,1493.704870,True,True,True,True,True,False
44,2023-02-16 07:59:59.999000064,1555.70,1674.92,1680.00,1542.55,581207.8586,1702.111571,1597.635333,1493.159096,False,False,False,True,False,True
45,2023-02-17 07:59:59.999000064,1674.92,1693.05,1712.24,1672.53,186057.4519,1711.062625,1601.884667,1492.706708,False,False,False,True,False,False

In [ ]:
buydf = conditions(df)

# 進出場

in_position = False
stop_loss = np.nan

for index, row in buydf.iterrows():

    if index == 0:
        continue
        
        # set entry price (前一根Ｋ收盤價進場)
        # set stop loss (前一根Ｋ線低點停損)
        # 進場
    elif buydf.at[index, 'openbuy'] == True:
        close_val = buydf['Close']
        low_val = buydf['Low']
        buydf.at[index, 'entry_p'] = close_val.shift(1).at[index]
        buydf.at[index, 'stop_loss'] = low_val.shift(1).at[index]
        buydf.at[index, 'position'] = 'Buy'
        in_position = True
        stop_loss = low_val.shift(1).at[index]
    

    # 吃筍
    #-----------------------------重要-----------------------------
    # 若用 if 寫，則有可能入場馬上吃筍，若用 elif 則一個 iteration 只會執行一次
    elif in_position == True and buydf.at[index, 'Close'] < stop_loss:
        buydf.at[index, 'position'] = 'Stop'
        in_position = False
        stop_loss = np.nan

    # set take profit （高點碰到上布林，即刻出場）
    elif buydf.at[index, 'High'] >= buydf.at[index, 'bb_u'] and in_position == True:

        buydf.at[index, 'position'] = 'Sell'
        in_position = False
        stop_loss = np.nan


# 過濾有訊號或事件發生的Ｋ線
buydf = buydf[(buydf['openbuy'] == True) |
              (buydf['signal'] == True) | 
              (buydf['position'] == 'Buy') |
              (buydf['position'] == 'Sell') |
              (buydf['position'] == 'Stop')]


print(buydf)

In [ ]:
# 部位回測

posdf = buydf
posdf = posdf.reset_index(drop = True)
posdf = posdf[(posdf['position'] == 'Buy') |
              (posdf['position'] == 'Sell') |
              (posdf['position'] == 'Stop')]

# 一次進場多少單位
pos_size = 1

col = ['Close_Time', 'Open', 'Close', 'High', 'Low', 'sma', 'bb_u', 'bb_l', 'rsi', 'position','entry_p', 'stop_loss']
pos = posdf[col]
pos = pos.reset_index(drop = True)


for index, row in pos.iterrows():
    
    current_pos = 0
    
    # 進場
    if pos.at[index, 'position'] == 'Buy':
        pos.at[index, 'size'] = pos_size
        pos.exit_p = np.nan
    
    # 出場
    if pos.at[index, 'position'] == 'Sell' or pos.at[index, 'position'] == 'Stop':
        
        #-----------------------------重要-----------------------------
        # 實戰需即刻出場
        
        # 停利：打到上布林
        if pos.at[index, 'position'] == 'Sell':
            pos.at[index, 'exit_p'] = pos.at[index, 'bb_u'] * 1

        # 停損：打到進場停損點（往回跌代，直到最近的'Buy'及其'stop_loss'）
        if pos.at[index, 'position'] == 'Stop':
            for i in range(index -1, -1, -1):
                if pos.at[i, 'position'] == 'Buy':
                    pos.at[index, 'exit_p'] = pos.at[i, 'stop_loss']
                break

        # 計算每次出場部位大小（每次出場皆清倉）
        for i in range(index -1, -1, -1):
            if pos.at[i, 'position'] == 'Buy':
                current_pos += pos.at[i, 'size']
                if i == 0:
                    pos.at[index, 'size'] = -current_pos
                else:
                    continue
            else:
                pos.at[index, 'size'] = -current_pos
                current_pos = 0
                break


# 計算部位價值
for index, row in pos.iterrows():
    if pos.at[index, 'position'] == 'Buy':
        pos.at[index, 'amt'] = round(pos.at[index, 'size'] * pos.at[index, 'entry_p'], 4)
    elif pos.at[index, 'position'] == 'Sell' or pos.at[index, 'position'] == 'Stop':
        pos.at[index, 'amt'] = round(pos.at[index, 'size'] * pos.at[index, 'exit_p'], 4)

    
        
print(pos)
pos.to_csv('pos.csv')


# 手續費、滑點、價差
fee = 0.075 / 100
amt_abs_sum = pos.amt.abs().sum()
ttl_fee = amt_abs_sum * fee

# 損益
leverage = 10
ttl_profit = -pos.amt.sum() - ttl_fee


# 計算進場最大部位來代表總進場成本，以計算報酬率
pos['consec_entry'] = (pos['position'] != pos['position'].shift()).cumsum()
group_consec = pos.groupby('consec_entry').apply(lambda x:x.loc[x['position'] == 'Buy', 'amt' ].sum())
max_entry = group_consec.max()

profit_per = "{:.2f}%".format(ttl_profit / (max_entry/leverage) * 100)


result = {'Profit': [round(ttl_profit, 2)],
          'Fee': [round(ttl_fee, 2)],
          'Max_Entry': [round(max_entry, 2)],
          'Profit_%': [profit_per]}

result_df = pd.DataFrame(result)

print(result_df)

In [ ]:
plt.title(symbol + ' SMA_' + str(rate))
plt.xlabel('time')
plt.ylabel('Closing Prices')
plt.plot(df.Close, label='Closing Prices')
plt.plot(df.sma, label= str(rate) + ' SMA')
plt.plot(df.bb_u, label='Bollinger Up', c='g')
plt.plot(df.bb_l, label='Bollinger Down', c='r')
plt.legend()
plt.show()